<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <title th:text="${title}"></title>
    <style>
        .img-radius10 {
            border-radius: 10px;
        }

        .img-shadow {
            box-shadow: 0px 3px 25px rgba(203, 207, 213, 0.3)
        }

        .category-text {
            font-weight: bolder;
        }

        .title-text {
            font-size: large;
            font-weight: bolder;
        }
    </style>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">누리컬쳐 가맹점 소개</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">메인페이지</a></li>
                                <li class="breadcrumb-item active" aria-current="page">누리컬쳐 서비스 소개</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <!--====== 키워드를 통한 가맹점 조회 페이지 ======-->
    <section class="client-logo-area pt-140 pb-110">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                    <div class="text-center section-title mb-60">
                        <h1>누리컬처의 가맹점 그리고 컨텐츠</a></h1>
                        <p class="text-center font-weight-bold">키워드를 클릭하면 해당 키워드의 가맹점을 확인할 수 있습니다.</p>
                    </div>
                </div>
            </div>

            <div class="client-logo-wrapper pb-20">
                <div class="row">
                    <div class="col-lg-2 col-sm-6">
                        <div class="single-logo">
                           <strong style="font-size: 100px">연극</strong>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="single-logo">
                            <strong style="font-size: 100px">운동</strong>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="single-logo">
                            <strong style="font-size: 100px">도서</strong>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="single-logo">
                            <strong style="font-size: 100px">전시</strong>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="single-logo">
                            <strong style="font-size: 100px">관광</strong>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="single-logo">
                            <strong style="font-size: 100px">교육</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="client-logo-wrapper pt-20 pb-40">
                <div class="row">
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th>
                                        분류
                                    </th>
                                    <th>
                                        상호명
                                    </th>
                                    <th>
                                        지역
                                    </th>
                                    <th>
                                        연락처
                                    </th>
                                    <th>
                                        영업일
                                    </th>
                                    <th>
                                        컨텐츠
                                    </th>
                                    <th>
                                        가맹점 등록일
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="store : ${storeOfContentList}" class="text-center">
                                    <td>
                                        <p class="category-text" th:text="${store.storeCategoryName}"></p>
                                        <p th:text="${store.contents.contentsCategoryName}"></p>
                                    </td>
                                    <td>
                                        <p class="title-text" th:text="${store.storeName}"></p>
                                    </td>
                                    <td>
                                        <h6 th:text="|${store.region.regionName} ${store.district.districtName}|"></h6>
                                    </td>
                                    <td>
                                        <p th:text="${store.storeContact}"></p>
                                    </td>
                                    <td>
                                        <p th:text="${store.openingTime}"></p>
                                    </td>
                                    <td>
                                        <a th:href="@{/user/contents/contentsDetail(contentsId=${store.contents.contentsId})}"><h5 th:text="${store.contents.contentsName}"></h5></a>
                                        <p th:text="${store.contents.contentsPg} + '세 관람가'"></p>
                                    </td>
                                    <td>
                                        <p th:text="${store.storeRegDate}">$20.99</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== TESTIMONIAL PART ENDS ======-->
</th:block>

</html>