<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
  	<head>
  		<style>
  			table {
				border: 1px solid black;
				table-layout: auto;
				text-align: center;
				
			}
			th {
				border: 1px solid black;
				width : 100px;
				background-color: cornflowerblue;
				color: azure;
				height: 30px;
				text-align: center;
			}
			td {
				border: 1px solid black;
				height: 30px;
			}
  		</style>
  	</head>
	<!-- 사용자 페이지별 javascript file 추가-->
    <th:block layout:fragment="customJsFile">
		
    </th:block>
    
    <!-- 사용자별 스크립트 작성 -->
    <th:block layout:fragment="customJsCode">
		
    </th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
	<th:block layout:fragment="customContents">
	 <section>
	<div id="home-p" class="home-p pages-head1 text-center">
      <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">가맹점 조회</h1>
        <p></p>
      </div><!--/end container-->
    </div> 
    </section><br><br><br>
	 
	 <!-- panel -->
	 <section id="faq-p1" class="team-p1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="faq-p1-cont">
              <div class="service-h-tab"> 
                <nav class="nav nav-tabs" id="myTab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">도서</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">공연</a> 
                  <a class="nav-item nav-link" id="my-movie-tab" data-toggle="tab" href="#my-movie" role="tab" aria-controls="nav-movie">영화</a> 
                  <a class="nav-item nav-link" id="nav-tour-tab" data-toggle="tab" href="#nav-tour" role="tab" aria-controls="nav-tour">관광</a> 
                  <a class="nav-item nav-link" id="nav-sports-tab" data-toggle="tab" href="#nav-sports" role="tab" aria-controls="nav-sports">체육</a> 
                  <a class="nav-item nav-link" id="my-OTT-tab" data-toggle="tab" href="#my-OTT" role="tab" aria-controls="my-OTT">디지털 OTT</a> 
                </nav>
                <div class="tab-content" id="nav-tabContent">
                <!-- 1번쨰 panel -->
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">   
                    <div class="toggle">
                      <div class="toggle-title"></div> <!-- title은 지우면 안됨. -->
                      	<table>
		                  	<thead>
		                  		<tr>
		                  			<th>가맹점코드</th>
		                  			<th>회원아이디</th>
		                  			<th>가맹점명</th>
		                  			<th>업종</th>
		                  			<th>사업자명</th>
		                  			<th>사업자번호</th>
		                  			<th>법인번호</th>
		                  			<th>지역</th>
		                  			<th>가맹점 주소</th>
		                  			<th>고객센터</th>
		                  			<th>영업일자</th>
		                  			<th>가맹점 등록일</th>
		                  			<th>수정</th>
		                  			<th>삭제</th>
		                  		</tr>
		                  	</thead>
		                  	<tbody>
		                  		<tr th:if="${storeList == null}">
									<td colspan="14">도서 가맹점 목록이 없습니다.</td>
		                  		</tr>
	                    		<tr th:unless="${storeList==null}" th:each="l : ${storeList}">
	                    			<td th:text="${l.storeId}"></td>
	                    			<td th:text="${l.userId}"></td>
	                    			<td th:text="${l.storeName}"></td>
	                    			<td th:text="${l.storeCategoryName}"></td>
	                    			<td th:text="${l.userName}"></td>
	                    			<td th:text="${l.businessNumber}"></td>
	                    			<td th:text="${l.corporationNumber}"></td>
	                    			<td th:text="${l.districtName}"></td>
	                    			<td th:text="${l.storeAddress}"></td>
	                    			<td th:text="${l.storeContact}"></td>
	                    			<td th:text="${l.storeOpenTime}"></td>
	                    			<td th:text="${l.storeRegDate}"></td>
	                    			<td>
	                    				<a th:href="@{/user/store/storeModify(storeId=${l.storeId})}">수정</a>
	                    			</td>
	                    			<td>
	                    				<a th:href="@{/user/store/storeDelete(storeId=${l.storeId})}">삭제</a>
	                    			</td>
	                    		</tr>
	                    	</tbody>
		                  </table>
                    </div> 
                  </div>
                  <!-- 2번쨰 panel -->
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="toggle">
                      <div class="toggle-title ">
                        <h3>
                        <i></i>
                        <span class="title-name">공연</span>
                        </h3>
                      </div>
                      <div class="toggle-inner">
                        <p></p>
                      </div>
                    </div>
                   </div> 
                    
                    <!-- 3번쨰 panel -->
                    <div class="tab-pane fade" id="my-movie" role="tabpanel" aria-labelledby="my-movie-tab">
                    <div class="toggle">
                      <div class="toggle-title  ">
                        <h3>
                        <i></i>
                        <span class="title-name">영화</span>
                        </h3>
                      </div>  
                      <div class="toggle-inner">
                        <p></p>
                      </div>
                    </div>
                    </div> 
                    
                   <!-- 4번쨰 panel -->
                  <div class="tab-pane fade" id="nav-tour" role="tabpanel" aria-labelledby="nav-tour-tab">
                    <div class="toggle">
                        <div class="toggle-title ">
                          <h3>
                          <i></i>
                          <span class="title-name">관광</span>
                          </h3>
                        </div>
                        <div class="toggle-inner">
                        	<p></p>
                        </div>
                      </div> 
                    </div> 
                    
                    <!-- 5번쨰 panel -->
                    <div class="tab-pane fade" id="nav-sports" role="tabpanel" aria-labelledby="nav-sports-tab">
                    <div class="toggle">
                      <div class="toggle-title  ">
                        <h3>
                        <i></i>
                        <span class="title-name">Sports</span>
                        </h3>
                      </div>  
                      <div class="toggle-inner">
                        <p></p>
                      </div>
                   	</div>
                    </div> 
                   <!-- 6번쨰 panel -->
                   <div class="tab-pane fade" id="my-OTT" role="tabpanel" aria-labelledby="my-OTT-tab">
                   <div class="toggle">
                      <div class="toggle-title  ">
                          <h3>
                          <i></i>
                          <span class="title-name">디지털 OTT</span>
                          </h3>
                      </div>
                      <div class="toggle-inner">
                       	<p></p>
                      </div>
                     </div> 
                    </div> 
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>    
    </section>  
	 
	</th:block>
</html>