<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{user/layout/default}">
<head>
	<style>
  			table {
				margin-top: 20px;
				border: 1px solid black;
				width: 450px;
				table-layout: auto;
				text-align: center;
			}
			
			table td:nth-child(1){
				background-color: cornflowerblue;
				color : white;
				font-weight: bolder;
			}
			
			table td {
				border: 1px solid black;
				height: 20px;
			}
			
			table input, select {
				width: 97%;
				text-align: center;
			}
			button {
				width: 100%;
			}
  		</style>
</head>
<th:block layout:fragment="customJs">
  	<script th:src="@{/js/jquery-3.7.1.js}"></script>
  	<script>
  	$(function(){
			function validationCheck(data){
				let isValid = true;
				if(typeof data == 'object'){
					
					$.each(data, function(){
						let checkValue = $(this).val();
						if(checkValue == null || checkValue == '' || typeof checkValue == 'undefined'){
	  						isValid = false;
	  						let eleId = $(this).attr('id');
	  						let cate = $(`label[for="${eleId}"]`).text();
	  						alert(`${cate} 필수 입력 항목입니다.`);
	  						$(this).focus();
	  						return isValid;
	  					}
					});
					
				}else{  						
					if(data == null || data == '' || typeof data == 'undefined'){
						isValid = false;
					}
				}
				
				return isValid;
			}
			
			$('#addMemberBtn').click(function(){
				const formEles = $('#addMemberForm input, #addMemberForm select');
				console.log(typeof formEles);
				
				let isValid = validationCheck(formEles);
				
				if(isValid) $('#addMemberForm').submit();
			});
			
			$('#storeId').change(function(){
				$('#addMemberForm input').not('#memberId').prop('disabled', true);
			$('#addMemberForm button').not('#idCheck').prop('disabled', true);
			$('#addMemberForm select').prop('disabled', true);
			})
			
			$('#idCheck').click(function(){
				let memberId = $('#memberId').val();
				
				if(!validationCheck(memberId)){
					alert('회원아이디를 입력해주세요');
					$('#memberId').focus();
					return;
				}
				
				const request = $.ajax({
					url : '/member/idCheck',
					method : 'POST',
					data : {'memberId': memberId},
					dataType : 'json'
				});
				
				request.done(function(data){
					let isDuplicate = data;  						
				if(isDuplicate){
					alert('회원가입을 할 수 없는 아이디입니다.');
					$('#memberId').val('');
				}
				$('#addMemberForm input').not('#memberId').prop('disabled', isDuplicate);
				$('#addMemberForm button').not('#idCheck').prop('disabled', isDuplicate);
				$('#addMemberForm select').prop('disabled', isDuplicate);
				})
				
				request.fail(function(jqXHR, textStatus){
					console.log(`Request failed: ${textStatus}`);
				});
				
			});
		});
  	</script>	
</th:block>
<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->  
	<th:block layout:fragment="customContents">
		<form id="modifyMemberForm" th:action="@{/member/modifyMember}" method="post">
			<table th:object="${memberInfo}"> <!-- 위의 객체 지정 -->
				<tbody>				
					<tr>
						<td><label for="storeName">가맹점명</label></td>
						<td>
							<input type="text" id="storeName" name="storeName" 
								   placeholder="상호명을 입력해주세요" readonly="readonly" />
						</td>
					</tr>
					<tr>
						<td><label for="category" >업종</label></td>
						<td colspan="2">
							<select id="category" name="storeCategory" readonly="readonly">
								<option value="category" >===업종을 선택하시오===</option>
								<th:block th:unless="${storeList == null}" th:each="l : ${storeList}">
									<option th:value="${l.storeCategoryCode}" th:text="${l.storeCategoryName}"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="storeAddress">가맹점 주소</label></td>
						<td colspan="2">
							<input type="text" id="storeAddress" name="storeAddress" 
								   placeholder="주소를 입력해주세요" required="required" />
						</td>
					</tr>
					<tr>
						<td><label for="storeContact">고객센터</label></td>
						<td colspan="2">
							<input type="text" id="storeContact" name="storeContact" maxlength="13"
								   placeholder="ex : 070-0000-0000"  required="required" />
						</td>
					</tr>
					<tr>
						<td><label for="storeOpenTime">영업일</label></td>
						<td colspan="3">
							<input type="date" id="storeOpenDate" name="storeOpenDate" required="required" 
							value="current" min="current" />		
							<input type="time" id="storeOpenTime" name="storeOpenTime" required="required" />
							<input type="time" id="storeEndTime" name="storeEndTime" required="required" />
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2">
							<button type="submit" id="storeModifyBtn">정보 수정</button>
							<!-- type submit이여서 form으로 바로 전송이 됨. -->
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
	</th:block>
</html>