<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/default}">

<th:block layout:fragment="customJs">
  <script th:src="@{/js/jquery-3.7.1.js}"></script>
  <script></script>
</th:block>

<body>

<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
<th:block layout:fragment="customContents">


  <!-- List 형태의 경우, button을 사용해서 보여질 List를 표시할 수 있다. -->
  <!-- defInfo를 통해서  -->
  <!-- Ajax 통신을 통해 오른쪽에 검색할 조건을 선택할 수 있는 지역 select 옵션으로 지정
  특정할 수 있는 정보인 이름, 전화번호, 가입일을 검색할 수 있게한다.-->
  <div class="clearfix"></div>

  <!-- 검색창 -->
  <div class="row">
    <!-- 회원조건 검색 창 -->
    <div class="col-md-6 col-sm-12  ">
      <div class="x_panel">
        <div class="x_title">
          <h2>지역정보</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form class="form-horizontal form-label-left">

            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-3">Date Mask</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <input type="text" class="form-control" data-inputmask="'mask': '99/99/9999'">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-3">Phone mask</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <input type="text" class="form-control" data-inputmask="'mask' : '(999) 999-9999'">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-3">Custom Mask</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <input type="text" class="form-control" data-inputmask="'mask': '99-999999'">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-3">Serial Number</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <input type="text" class="form-control" data-inputmask="'mask' : '****-****-****-****-****-***'">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-3">TaxID Mask</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <input type="text" class="form-control" data-inputmask="'mask' : '99-99999999'">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-3">Credit Card Mask</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <input type="text" class="form-control" data-inputmask="'mask' : '9999-9999-9999-9999'">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>
            </div>
            <div class="ln_solid"></div>

            <div class="form-group row">
              <div class="col-md-9 offset-md-3">
                <button type="submit" class="btn btn-primary">검색조건초기화</button>
                <button type="submit" class="btn btn-success">검색조건추가</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- /form input mask -->

    <!-- 검색 조건을 표시해주는 메시지 창 -->
    <div class="col-md-6 col-sm-12  ">
      <div class="x_panel">
        <div class="x_title">
          <h2>행정구역정보</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form class="form-horizontal form-label-left">


            <div class="col-md-6" style="border: 1px solid black;">바보</div>
            <div class="col-md-6" style="border: 1px solid black;">바보</div>

            <div class="ln_solid"></div>

            <div class="form-group row">
              <div class="col-md-9 offset-md-3">
                <button type="submit" class="btn btn-primary">조건 초기화</button>
                <button type="submit" class="btn btn-success">검색</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /검색 조건을 표시해주는 메시지 창 -->
  </div>
  <!-- /검색창 -->

  <!-- 검색리스트 -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <p class="text-muted font-13 m-b-30">
            데이터 테이블 조회하기</p>

          <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
            <thead>
            <tr>
              <th>
                <input type="checkbox" id="홍길동" class="flat">
              </th>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>
                <input type="checkbox" id="김길동" class="flat">
              </td>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</th:block>

</body>

</html>
