<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <title th:text="${title}"></title>
    <style>
        .img-radius10 {
            border-radius: 10px;
        }

        .img-shadow {
            box-shadow: 0px 3px 25px rgba(203, 207, 213, 0.3)
        }
    </style>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">누리컬쳐 서비스 소개</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">메인페이지</a></li>
                                <li class="breadcrumb-item active" aria-current="page">누리컬쳐 서비스 소개</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <!--====== WELCOME PART START ======-->
    <section class="welcome-area pt-60 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="welcome-img">
                        <img  class="image img-radius10 img-shadow" src="/user/assets/images/about/gamcheon.jpg" alt="">
                        <small class="mt-10 d-flex justify-content-center">대한민국 부산광역시 사하구 감천동 감내1로 감천문화마을</small>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="welcome-content">
                        <h1 class="mb-30">누리컬쳐의 서비스</h1>
                        <p>우리 주변의 공공문화시설은 우리가 생각했던 것보다 많습니다. 그리고 누구나 누릴 수 있습니다. <br><br>
                            누리컬쳐는 정보를 통해 보다 더 많은 사람들이 쉽고 간편하게 문화생활을 할 수 있도록 지원합니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== WELCOME PART END ======-->

    <!--====== WHY CHOSE PART START ======-->
    <section class="why-chose-area bg_cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="why-chose-content">
                        <div class="section-title">
                            <h1>누리컬쳐의 방향</h1>
                            <p>공공문화시설을 이용하는 사람부터 운영하는 사람까지, 정보제공을 통해 모든 사람을 위한 방향으로 나아갑니다.</p>
                        </div>

                        <div class="why-chose-item">
                            <div class="icon">
                                <i class="lni lni-layers"></i>
                            </div>
                            <div class="content">
                                <h3>사용자</h3>
                                <p>주변의 공공 문화시설을 찾는 사람부터, 문화생활을 누리기 힘든 사람들에게 다양한 정보를 제공합니다.</p>
                            </div>
                        </div>
                        <div class="why-chose-item">
                            <div class="icon">
                                <i class="lni lni-code"></i>
                            </div>
                            <div class="content">
                                <h3>가맹점</h3>
                                <p>정보를 통해 사용자와 가맹점을 이어주고 공공 문화시설 운영에 도움을 줄 수 있는 데이터를 제공합니다.</p>
                            </div>
                        </div>
                        <div class="why-chose-item">
                            <div class="icon">
                                <i class="lni lni-mobile"></i>
                            </div>
                            <div class="content">
                                <h3>공무원</h3>
                                <p>사용자와 가맹점의 이용현황 등의 정보와 공공 문화시설의 운영과 예산의 집행에 있어 도움을 줄 수 있는 데이터를 제공합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="text-right why-chose-img">
                        <small class="mb-10 d-flex justify-content-center">전북 전주시 완산구 기린대로 99 전주한옥마을</small>
                        <img class="image img-radius10 img-shadow" src="/user/assets/images/about/hanok.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== WHY CHOSE PART END ======-->

    <!--====== HOW WORK PART START ======-->
    <section class="how-work-area pt-140 pb-110">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-xl-6 col-lg-7 mb-60">
                    <div class="text-center section-title">
                        <h2>누리컬쳐에 대해서 더 알고 싶다면</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="single-box">
                        <div class="icon">
                            <i class="lni lni-target"></i>
                        </div>
                        <div class="content mb-50">
                            <h3>누리컬쳐에 가입</h3>
                            <p>누리컬쳐의 회원이 되어주세요</p>
                        </div>
                        <a th:href="@{/user/register/registerType}" class="main-btn btn-hover">더보기</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="single-box">
                        <div class="icon">
                            <i class="lni lni-bulb"></i>
                        </div>
                        <div class="content mb-50">
                            <h3>누리컬쳐와 가맹점</h3>
                            <p>문화 컨텐츠를 제공하는 누리컬쳐의 가맹점</p>
                        </div>
                        <a th:href="@{/user/about/nuriStore}" class="main-btn btn-hover">더보기</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="single-box">
                        <div class="icon">
                            <i class="lni lni-graph"></i>
                        </div>
                        <div class="content mb-50">
                            <h3>문화누리카드에 대해</h3>
                            <p>보다 많은 사람들이 문화를 누릴 수 있는 카드</p>
                        </div>
                        <a th:href="@{/user/about/nuriCard}" class="main-btn btn-hover">더보기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== HOW WORK PART ENDS ======-->

</th:block>

</html>