<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">
    <script th:src="@{/user/assets/css/Chart.js/dist/Chart.js}"></script>
</th:block>


<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white"> 통계 조회 </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Statistic</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <!--====== DASHBOARD PART START ======-->
    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="left-sidebar-wrapper box-style">
                        <div class="sidebar-header">
                            <div class="info">
                                <h3>업종별 사용률 조회</h3>
                                <p class="mb-30"></p>
                            </div>
                        </div>

                        <div class="sidebar-menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a th:href="@{/user/statistic/sttInfo}"><i class="lni lni-envelope"></i>예산 사용률 조회</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/statistic/storeStt}"><i class="lni lni-dashboard"></i>가맹점별 통계 조회</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/statistic/cateStt}" class="active"><i class="lni lni-cog"></i>업종별 통계 조회</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/statistic/regionStt}"><i class="lni lni-cog"></i>도별 통계 조회</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/statistic/regionCateStt}"><i class="lni lni-layers"></i>도 및 업종별 통계 조회</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-xl-9 col-lg-8">
                    <div class="dashboard-wrapper box-style">
                        <div class="title">
                            <h3>Overview</h3>
                        </div><br/><br/><br/>

                        <div class="container">
                            <div class="count-up-wrapper">
                                <div class="row">

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-counter">
                                            <span class="count">2700억</span>
                                            <span>총 예산</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-counter">
                                            <span class="count">100억</span>
                                            <span>해당 업종 월 매출액</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-counter">
                                            <span class="count">700억</span>
                                            <span>해당 업종 누적 매출액</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single-counter">
                                            <span class="count">%</span>
                                            <span>퍼센트</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br/><br/>

                        <div>
                            <h3>월별 예산 소진액</h3>
                            <canvas id="budgetChart" width="600" height="350"></canvas>
                        </div></br></br></br></br></br></br>

                            <!--====== SEARCH PART START ======-->
                            <div class="search-area">
                                <div class="container">
                                    <div class="search-wrapper">
                                        <form action="#">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-3 col-sm-5 col-10">
                                                    <div class="search-input">
                                                        <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
                                                        <select name="category" id="category">
                                                            <option value="none" selected disabled>업종</option>
                                                            <option value="none">도서</option>
                                                            <option value="none">전시</option>
                                                            <option value="none">영화</option>
                                                            <option value="none">관광</option>
                                                            <option value="none">체육</option>
                                                            <option value="none">디지털 컨텐츠</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-5 col-10">
                                                    <div class="search-input">
                                                        <label for="year"><i class="lni lni-grid-alt theme-color"></i></label>
                                                        <select name="year" id="year">
                                                            <option value="none" selected disabled>년도 선택</option>
                                                            <option value="none">2023</option>
                                                            <option value="none">2024</option>
                                                            <option value="none">2025</option>
                                                            <option value="none">2026</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-sm-5 col-10">
                                                    <div class="search-btn">
                                                        <button class="main-btn btn-hover">Search <i class="lni lni-search-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--====== SEARCH PART END ======-->

                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="check-all1" class="flat"></th>
                                        <th>업종명</th>
                                        <th>1월</th>
                                        <th>2월</th>
                                        <th>3월</th>
                                        <th>4월</th>
                                        <th>5월</th>
                                        <th>6월</th>
                                        <th>7월</th>
                                        <th>8월</th>
                                        <th>9월</th>
                                        <th>10월</th>
                                        <th>11월</th>
                                        <th>12월</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="checkbox" id="check-all2" class="flat"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" id="check-all3" class="flat"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" id="check-all4" class="flat"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== DASHBOARD PART END ======-->


</th:block>
<!-- 차트 js 작성 -->
<th:block layout:fragment="customJsCode">
    <script>
        // chart js 호출부 작성하시오
        const ctx = document.getElementById('budgetChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['1', '2', '3', '4', '5', '6','7','8','9','10','11','12'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
</th:block>
</html>