<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/layout/default}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/js/jquery-3.7.1.js}"></script>
	</th:block>

  <body id="page-top">

	<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
	<th:block layout:fragment="customContents">

		<div class="page-title">
			<div class="title_left">
				<h3>Form Elements</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">
					<div class="x_panel">
						<div class="x_title">
							<h2>Form Design <small>different form elements</small></h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
								<div class="form-group">
									<label for="userId" class="control-label col-md-3 col-sm-3 col-xs-12">아이디</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="userId" class="form-control col-md-7 col-xs-12" type="text" name="userId">
									</div>
								</div>
								<div class="form-group">
									<label for="userPw" class="control-label col-md-3 col-sm-3 col-xs-12">비밀번호</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="userPw" class="form-control col-md-7 col-xs-12" type="password" name="userPw">
									</div>
								</div>
								<div class="form-group">
									<label for="userName" class="control-label col-md-3 col-sm-3 col-xs-12">이름</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="userName" class="form-control col-md-7 col-xs-12" type="text" name="userName">
									</div>
								</div>
								<div class="form-group">
									<label for="userBirth" class="control-label col-md-3 col-sm-3 col-xs-12">생년월일</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="userBirth" class="form-control col-md-7 col-xs-12" type="date" name="userBirth">
									</div>
								</div>
								<div class="form-group">
									<label for="userEmail" class="control-label col-md-3 col-sm-3 col-xs-12">이메일</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="userEmail" class="form-control col-md-7 col-xs-12" type="text" name="userEmail">
									</div>
								</div>
								<div class="form-group">
									<label for="userContact" class="control-label col-md-3 col-sm-3 col-xs-12">연락처</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="userContact" class="form-control col-md-7 col-xs-12" type="text" name="userContact">
									</div>
								</div>
								<div class="form-group">
									<label for="regionCode" class="control-label col-md-3 col-sm-3 col-xs-12">지역 1</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<select id="regionCode" class="form-control" name="regionCode" required>
											<option th:each="area : ${regionList}" th:value="${area.regionCode}" th:text="${area.regionName}"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="districtCode" class="control-label col-md-3 col-sm-3 col-xs-12">지역 2</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<select id="districtCode" class="form-control" name="districtCode" required>
											<option disabled>지역을 입력해주세요</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="userAddress" class="control-label col-md-3 col-sm-3 col-xs-12">상세주소</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="userAddress" class="form-control col-md-7 col-xs-12" type="text" name="userAddress">
									</div>
								</div>
								<div class="ln_solid"></div>
								<div class="form-group">
									<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
										<button class="btn btn-primary" type="button">취소</button>
										<button class="btn btn-primary" type="reset">초기화</button>
										<button class="btn btn-primary" type="reset">미리보기</button>
										<button type="submit" class="btn btn-success">가입</button>
									</div>
								</div>
						</div>
					</div>
				</form>
			</div>
		</div>




		<script src="/admin/js/customjs/district-list.js"></script>

	</th:block>


  </body>


</html>
