<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

<th:block layout:fragment="customJs">
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
</th:block>

<body id="page-top">

<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
<th:block layout:fragment="customContents">


	<!-- 삭제 확인 메시지 모달 시작 -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form th:action="@{/admin/user/userDeleteByAdmin}" method="get">
					<!--  세션 정보로 관리자인지 다시 확인	-->
					<input type="hidden" name="deleteTarget" th:value="${specificUserList.userId}">
					<input type="hidden" name="targetLevel" th:value="${specificUserList.levelId}">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title text-center" id="exampleModalLabel">회원삭제</h5>
						</div>
<!--						<div class="modal-body text-center">-->
<!--							<label for="checkPw">삭제 확인을 위해 비밀번호 입력-->
<!--								<input id="checkPw" class="form-control text-center" type="password" name="checkAdmin"/>-->
<!--							</label>-->
<!--						</div>-->
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger">삭제</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 삭제 확인 메시지 모달 시작 -->


	<div class="page-title">
		<div class="title_left">
			<h3>Form Elements</h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Form Design <small>different form elements</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br />
					<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">
						<div class="form-group">
							<label for="userId" class="control-label col-md-3 col-sm-3 col-xs-12">아이디</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="userId" class="form-control col-md-7 col-xs-12" type="text"
									   name="userId" th:value="${specificUserList.userId}" readonly>
							</div>
						</div>
						<div class="form-group">
							<label for="userPw" class="control-label col-md-3 col-sm-3 col-xs-12">비밀번호</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="userPw" class="form-control col-md-7 col-xs-12" type="password"
									   name="userPw" th:value="${specificUserList.userPw}"/>
							</div>
						</div>
						<div class="form-group">
							<label for="userName" class="control-label col-md-3 col-sm-3 col-xs-12">이름</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="userName" class="form-control col-md-7 col-xs-12" type="text"
									   name="userName" th:value="${specificUserList.userName}">
							</div>
						</div>
						<div class="form-group">
							<label for="userBirth" class="control-label col-md-3 col-sm-3 col-xs-12">생년월일</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="userBirth" class="form-control col-md-7 col-xs-12" type="date"
									   th:value="${specificUserList.userBirth}" readonly>
							</div>
						</div>
						<div class="form-group">
							<label for="userEmail" class="control-label col-md-3 col-sm-3 col-xs-12">이메일</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="userEmail" class="form-control col-md-7 col-xs-12" type="text"
									   name="userEmail" th:value="${specificUserList.userEmail}">
							</div>
						</div>
						<div class="form-group">
							<label for="userContact" class="control-label col-md-3 col-sm-3 col-xs-12">연락처</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="userContact" class="form-control col-md-7 col-xs-12" type="text"
									   name="userContact" th:value="${specificUserList.userContact}">
							</div>
						</div>
						<div class="form-group">
							<label for="regionCode" class="control-label col-md-3 col-sm-3 col-xs-12">지역 1</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select id="regionCode" class="form-control" name="regionCode" required>
									<option th:each="area : ${regionList}" th:value="${specificUserList.regionCode}" th:text="${area.regionName}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="districtCode" class="control-label col-md-3 col-sm-3 col-xs-12">지역 2</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select id="districtCode" class="form-control" name="districtCode" required>
									<option>지역을 입력해주세요</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="userAddress" class="control-label col-md-3 col-sm-3 col-xs-12">상세주소</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="userAddress" class="form-control col-md-7 col-xs-12" type="text"
									   name="userAddress" th:value="${specificUserList.userAddress}">
							</div>
						</div>

						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
									삭제
								</button>
								<a th:href="@{/admin/user/userInfoList}" class="btn btn-primary"> 취소</a>
								<button type="submit" class="btn btn-success">가입</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="/admin/js/customjs/district-list.js"></script>

</th:block>


</body>


</html>
