<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <style>
        .input-specific {
            color: #FF6B6B;
        }

        .notice-show {
            display: block;
        }

        .notice-hide {
            display: none;
        }
    </style>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">
    <script src="/user/assets/js/resetMyPw.js"></script>
</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">비밀번호 재설정</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                                <li class="breadcrumb-item active" aria-current="page">내 아이디 찾기</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <!--====== 404 PRODUCT PART START ======-->
    <section class="login-area pt-70 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="login-wrapper box-style">
                        <h3 class="mb-20">비밀번호 재설정</h3>
                        <form th:action="@{/user/auth/resetMyPw}" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <input type="hidden" id="userId" name="userId" th:value="${identifier}">
                                        <label for="resetPw" class="mb-2">비밀번호</label>
                                        <span class="ml-1 input-specific notice-hide" id="pw-alert">특수문자를 포함하여 비밀번호를 6자리 이상 입력해주세요.</span>
                                        <span class="ml-1 input-specific notice-hide" id="existing-alert">기존 비밀번호와 동일합니다. 새로운 비밀번호를 입력해주세요.</span>
                                        <input type="password" id="resetPw" name="resetPw" class="py-2 px-3 mb-0 rounded border">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="resetPwCheck" class="mb-2">비밀번호 확인</label>
                                        <span class="ml-1 input-specific notice-hide" id="pwCheck-alert">비밀번호와 일치하지 않습니다.</span>
                                        <input type="password" id="resetPwCheck" class="py-2 px-3 mb-0 rounded border">
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="single-form mb-30">
                                        <button type="submit" id="submit-btn" class="main-btn btn-hover py-2 rounded">비밀번호 재설정</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== 404 PRODUCT PART ENDS ======-->
</th:block>

</html>