<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<th:block layout:fragment="customJs">
  <script th:src="@{/js/jquery-3.7.1.js}"></script>
</th:block>

<body>

<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
<th:block layout:fragment="customContents">

  <div class="page-title">
    <div class="title_left">
      <h3>컨텐츠 관리</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>컨텐츠 목록 조회 <small>누리컬쳐에 등록된 컨텐츠 정보 </small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form id="demo-form2" data-parsley-validate="" style="text-align: center;" class="form-horizontal form-label-left">
            <div class="data-area col-md-6 col-sm-6 col-xs-12" style="width: 100%; margin-bottom: 20px; display: flex; justify-content: center; gap: 10px; margin-top: 30px;">
              <label for="contentsName" style="width: 80px; margin-top: 9px;"> 컨텐츠명 </label>
              <input type="text" id="contentsName" name="contentsName" class="form-control" style="width: 300px;">
            </div>

            <div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; display: flex;  justify-content: center; gap: 10px">
              <label for="storeCategory" style="width: 80px; margin-top: 9px;"> 컨텐츠 장르 </label>
              <select id="storeCategory" name="storeCategory" class="form-control" style="width: 300px;">
                <option value="">=== 장르를 선택하세요 ===</option>
                <option th:each="sc: ${storeCategoryList}" th:text="${sc.storeCategoryName}" th:value="${sc.storeCategoryCode}"></option>
              </select>
            </div>

            <div class="data-area col-md-6 col-sm-6 col-xs-12" style="width: 100%; display: flex; justify-content: center; gap: 10px; margin-top: 30px;">
              <label for="storeName" style="width: 80px; margin-top: 9px;"> 가맹점명 </label>
              <input type="text" id="storeName" name="storeName" class="form-control" style="width: 300px;">
            </div>

            <div class="data-area col-md-6 col-sm-6 col-xs-12" style="width: 100%; display: flex; justify-content: center; gap: 10px; margin-top: 30px;">
              <label for="contentsPg" style="width: 80px; margin-top: 9px;"> 연령제한 </label>
              <input type="number" id="contentsPg" name="contentsPg" class="form-control" style="width: 300px;">
            </div>

            <div class="data-area col-md-6 col-sm-6 col-xs-12" style="width: 100%; margin-bottom: 20px; display: flex; justify-content: center; gap: 10px; margin-top: 30px;">
              <label for="startDate" style="width: 80px; margin-top: 9px;"> 검색기간 </label>
              <input type="date" id="startDate" name="startDate" class="form-control" style="width: 140px;">
              <label for="endDate" style="margin-top: 9px;"> ~ </label>
              <input type="date" id="endDate" name="endDate" class="form-control" style="width: 140px;">
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="button" class="btn btn-primary">초기화</button>
                <button type="submit" class="btn btn-success">검색</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- List 형태의 경우, button을 사용해서 보여질 List를 표시할 수 있다. -->
  <!-- UserList의 검색창을 통해서 회원의 지역, 생년월일, 아이디, 전화번호를 알 수 있다.-->
  <!-- Ajax 통신을 통해 오른쪽에 검색할 조건을 선택할 수 있는 지역 select 옵션으로 지정
  특정할 수 있는 정보인 이름, 전화번호, 가입일을 검색할 수 있게한다.-->


  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <p class="text-muted font-13 m-b-30">컨텐츠 코드를 클릭하면 해당 컨텐츠의 정보를 수정할 수 있습니다</p>
          <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
            <thead>
            <tr>
              <th>선택</th>
              <th>컨텐츠코드</th>
              <th>컨텐츠명</th>
              <th>카테고리</th>
              <th>컨텐츠 기간</th>
              <th>가맹점명</th>
              <th>컨텐츠 시간</th>
              <th>연령제한</th>
              <th>컨텐츠 가격</th>
            </tr>
            </thead>

            <tbody id="searchListTable">
            <tr th:each="cl: ${contentsList}">
              <td class="sorting_1">
                <div class="icheckbox_flat-green" style="position: relative;">
                  <input type="checkbox" th:value="${cl.contentsId}" name="chkBox" class="flat" style="position: absolute; opacity: 0;">
                </div>
              </td>
              <td>
                <a th:text="${cl.contentsId}" th:href="@{/admin/contents/contentsInfoUpdate(contentsId=${cl.contentsId})}"></a>
              </td>
              <td th:text="${cl.contentsName}"></td>
              <td th:text="${cl.storeInfo.storeCategoryName}"></td>
              <td><th:block th:text="${cl.contentsSellStartDate}"></th:block>~<th:block th:text="${cl.contentsSellEndDate}"></th:block></td>
              <td th:text="${cl.contentsAddress}"></td>
              <td th:text="${cl.contentsDuration}"></td>
              <td th:text="${cl.contentsPg}"></td>
              <td th:text="${cl.contentsPrice}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</th:block>


</body>

</html>
