<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/js/jquery-3.7.1.js}"></script>
	</th:block>
	
  <body id="page-top">

	<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
	<th:block layout:fragment="customContents">
				<div class="clearfix"></div>

            
         <div class="col-md-12 col-sm-12 col-xs-12">
     			<div class="x_panel">
       				<div class="x_title">
         				<h2>컨텐츠 검색</h2>
	                      <a class="collapse-link navbar-right"><i class="fa fa-chevron-up"></i></a>
         				<div class="clearfix"></div>
       				</div>
	       			<div class="x_content">
						<br />
                    	<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> <span class="required">*</span>컨텐츠명</label>
	                        <div class="col-md-6 col-sm-6 col-xs-12">
	                          <input type="text" id="" required="required" class="form-control col-md-7 col-xs-12">
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">컨텐츠 장르</label>
	                        <div class="col-md-6 col-sm-6 col-xs-12">
					   		<select id="heard" class="form-control" required>
                            <option value="contentsSelect">선택하시오</option>
                            <option value="book">도서</option>
                            <option value="perform">전시</option>
                            <option value="movie">영화</option>
                            <option value="tour">관광</option>
                            <option value="sports">체육</option>
                            <option value="OTT">디지털 컨텐츠</option>
                          </select>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">가맹점명</label>
	                        <div class="col-md-6 col-sm-6 col-xs-12">
	                          <input type="text" id="" class="form-control col-md-7 col-xs-12" name="">
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12">연령제한</label>
	                        <div class="col-md-6 col-sm-6 col-xs-12">
	                          <input type="text" id="" class="form-control col-md-7 col-xs-12" name="">
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <div class="col-md-6 col-sm-6 col-xs-12">
	                          </div>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="control-label col-md-3 col-sm-3 col-xs-12 ">검색 기간</label>
	                        <div>
	                          	<input type="date">
	                          	&nbsp;~&nbsp;
	                          	<input type="date">
	                        </div>
	                      </div>
	                      
	                      <div class="ln_solid"></div>
	                      <div class="form-group">
	                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" >
	                          <button type="button" class="btn btn-primary">초기화</button>
	                          <button type="submit" class="btn btn-success">검색</button>
	                        </div>
	                      </div>
                    	</form>
			        </div>
			     </div>
			     
			     <div class="clearfix"></div>
			     
			     <div class="col-md-12 col-sm-12 col-xs-12">
		   			<div class="x_panel">
		       			<div class="x_title">
			       			<h2>검색 결과</h2>
		                      <a class="collapse-link navbar-right"><i class="fa fa-chevron-up"></i></a>
	         				<div class="clearfix"></div>
	         			</div>
	                  <div class="x_content">
		         			<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
					           <thead>
					             <tr>
					               <th><input type="checkbox" id="check-all" class="flat"></th>
				                   <th>컨텐츠명</th>
				                   <th>카테고리</th>
				                   <th>컨텐츠 기간</th>
				                   <th>가맹점명</th>
				                   <th>컨텐츠 시간</th>
				                   <th>연령제한</th>
				                   <th>컨텐츠 가격</th>
				                   <th>회원아이디</th>
					             </tr>
					           </thead>
		
		               		   <tbody>
				                 <tr>
				                   <td><input type="checkbox" id="check-all" class="flat"></td>
				                   <td>내가보이니?</td>
				                   <td>공연</td>
				                   <td>2023.11.11~2023.11.15</td>
				                   <td>세종예술문화회관</td>
				                   <td>19:00~21:00</td>
				                   <td>만 15세이상</td>
				                   <td>15,000원</td>
				                   <td>nuguge0124</td>
				                 </tr>
		                 		</tbody>
		             		</table>
		           		</div>
	       			</div>
				</div>
	</th:block>
  </body>

</html>
