<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<th:block layout:fragment="customJs">
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
</th:block>

<body id="page-top">

<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
<th:block layout:fragment="customContents">

    <div class="page-title">
        <div class="title_left">
            <h3>컨텐츠 등록</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">컨텐츠명</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">카테고리</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="heard" class="form-control">
                                    <option>===카테고리를 선택하세요===</option>
                                    <option>도서</option>
                                    <option>전시</option>
                                    <option>영화</option>
                                    <option>관광</option>
                                    <option>체육</option>
                                    <option>디지털 컨텐츠</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">컨텐츠 장소</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">컨텐츠 기간</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="date" name="middle-name" style="margin-bottom: 9px;">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="date" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">컨텐츠 가격</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="number" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">파일업로드</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="file" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">컨텐츠 등록일</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="date" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">컨텐츠 내용</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <textarea cols="150" class="form-control col-md-7 col-xs-12"></textarea>
                                </label>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="button" style="margin-left: 392px;">취소</button>
                                <button class="btn btn-primary" type="reset">초기화</button>
                                <button type="submit" class="btn btn-success">수정</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- List 형태의 경우, button을 사용해서 보여질 List를 표시할 수 있다. -->
    <!-- UserList의 검색창을 통해서 회원의 지역, 생년월일, 아이디, 전화번호를 알 수 있다.-->
    <!-- Ajax 통신을 통해 오른쪽에 검색할 조건을 선택할 수 있는 지역 select 옵션으로 지정
    특정할 수 있는 정보인 이름, 전화번호, 가입일을 검색할 수 있게한다.-->



</th:block>

</body>

</html>
