<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/user/layout/default}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/admin/js/jquery-3.7.1.js}"></script>
	</th:block>
	
	<th:block layout:fragment="customJsCode">
		<script>
		
		</script>
	</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">
	
    <!-- Template의 원본에서 Core StyleSheets 가져와야 합니다.
    레퍼런스 CSS 파일이 되는 것 - contact.css & shop.css <link rel="stylesheet" href="css/contact.css"> -->

    <section id="contact-p1" class="contact-p1">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="p-5 text-center">
                        <h3 th:text="${head}"></h3>
                        <p th:text="${title}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="shop-p1" class="shop-p1">
            <div class="container">
                <div class="row">
					<div class="col-lg-3">
						<div th:replace="~{user/fragments/aside :: mypageAsideStore}"></div>
					</div>
                  
			        <div class="col-lg-9">
			        	<div class="container">
			        
				          <form>						
				            <div class="form-group">
				              <label class="control-label col-md-3 col-sm-3 col-xs-12 ">검색 기간</label>
				              <input type="date">
				                &nbsp;~&nbsp;
				              <input type="date">
				              <button type="submit" class="btn btn-success" id="searchBtn">검색</button>
				            </div>
				          </form>
			    	</div>
			
			      <div class="container">
			        <table id="cart" class="table table-hover table-condensed text-center">
			          <thead style="width:100%" >
			            <tr>
			              <th style="width:5%"><input type="checkbox"/></th>
			              <th style="width:20%" class="text-center">가맹점</th>
			              <th style="width:15%" class="text-center">정산일자</th>
			              <th style="width:10%" class="text-center">지역</th>
			              <th style="width:10%" class="text-center">업종</th>
			              <th style="width:20%" class="text-center">컨텐츠명</th>
			              <th style="width:10%" class="text-center">금액</th>
			              <th style="width:10%" class="text-center">정산코드</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr>
			              <td><input type="checkbox"/></td>
			              <td data-th="store">가맹점A</td>
			              <td data-th="adjDate">2023-06-23</td>
			              <td data-th="region">전라북도 전주시</td>
			              <td data-th="cate">공연</td>
			              <td class="contentsName" data-th="">[상시]전주 전통문화축제...</td>
			              <td class="purchase" data-th="">30000</td>
			              <td class="adjCode" data-th="">adjd230623115934</td>
			            </tr>
			
			            <tr>
			              <td><input type="checkbox"/></td>
			              <td data-th="store">가맹점A</td>
			              <td data-th="adjDate">2023-06-23</td>
			              <td data-th="region">전라북도 전주시</td>
			              <td data-th="cate">공연</td>
			              <td class="contentsName" data-th="">[상시]전주 전통문화축제...</td>
			              <td class="purchase" data-th="">30000</td>
			              <td class="adjCode" data-th="">adjd230623115934</td>
			            </tr>
			            
			            
			          </tbody>
			          <tfoot> 
			            <tr>
			              <td><a href="#" class="btn btn-general btn-white" th:onclick="'location.href=\''+@{/user/mystore/myContents}+'\''"><i class="fa fa-angle-left"></i> 내 컨텐츠 보러가기</a></td>
			              <td colspan="6" class="hidden-xs"></td>
			              <td><a href="#" class="btn btn-general btn-green">제외하고 정산</i></a></td>
			            </tr>
			          </tfoot>
			        </table>
			        <div class=" text-right"><h2>합계 : 60000 원</h2></div>
			      </div>
			        	
			        </div>
                    
                </div>
            </div>
        </div>
    </section>
</th:block>

</html>
