<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	
	<head>
		<!-- Core Stylesheets -->
   		<link rel="stylesheet" th:href="@{/user/css/shop.css}">
	</head>
	
	<th:block layout:fragment="customContents">
		
<!--
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
-->
    

<!--====================================================
                        FORM
======================================================-->
    <section class="shop-form bg-gray" id="shop-form">
      <div class="container">
        <div class="row"> 
          <div class="col-md-10 main-login main-center">
            <form class="form-horizontal" method="post" action="#">
              
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">예약 날짜</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="date" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">예약 시간</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="time" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
	</th:block>
</html>