<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">




<th:block layout:fragment="customJs">
  <script th:src="@{/js/jquery-3.7.1.js}"></script>
</th:block>

<!-- 사용자별 css file 추가 부분 -->
<head>
  <link th:href="@{/admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">

  <style>

  </style>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  <script th:src="@{/admin/vendors/Chart.js/dist/Chart.js}"></script>
</th:block>

<body id="page-top">

<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
<th:block layout:fragment="customContents">
  <div class="clearfix"></div>

  <div class="row" style="background-color: white">
    <div class="" role="main">
      <div class="page-title">
        <div class="title_left" style="margin-left: 3%">
          <h3>
            <h3>통계 <small>가맹점별</small></h3>
          </h3>
        </div>

        <div class="x_panel">
          <div class="x_title">
            <h2>가맹점 월별 매출통계</h2>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div>
              <canvas id="storeChart" width="600" height="250"></canvas>
            </div>

          </div>
        </div>

        <div class="row tile_count" style="text-align: center">
          <div class="col-md-12 col-sm-12 col-xs-12 tile_stats_count" >
            <span class="count_top" id="searchStoreName">해당 가맹점 누적사용량</span>
            <div class="count green" id="totalAmount">원</div>
          </div>

        <div class="col-md-12 col-sm-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>검색 정보</h2>

               <div class="clearfix"></div>

            <div class="x_content">

              <form id="searchStoreStt" data-parsley-validate="" style="text-align: center;" class="form-horizontal form-label-left">

                <div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; margin-bottom: 20px; display: flex;  justify-content: center; gap: 10px">
                  <label style="width: 80px; margin-top: 9px;"> 통계년도 </label>
                  <input type="text" id="adjustmentYear" name="" class="form-control">
                </div>

                <div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; margin-bottom: 20px; display: flex;  justify-content: center; gap: 10px">
                  <label style="width: 80px; margin-top: 9px;"> 가맹점 아이디 </label>
                  <input type="text" id="storeId" name="" class="form-control">
                </div>

                <div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; margin-bottom: 20px; display: flex;  justify-content: center; gap: 10px">
                  <label style="width: 80px; margin-top: 9px;"> 가맹점 명 </label>
                  <input type="text" id="storeName" name="" class="form-control">
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="button" id="reset" class="btn btn-primary">초기화</button>
                    <button type="button" id="searchBtn" class="btn btn-success">검색</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
              <thead>
              <tr>
                <th>가맹점명</th>
                <th>년도</th>
                <th>1월</th>
                <th>2월</th>
                <th>3월</th>
                <th>4월</th>
                <th>5월</th>
                <th>6월</th>
                <th>7월</th>
                <th>8월</th>
                <th>9월</th>
                <th>10월</th>
                <th>11월</th>
                <th>12월</th>
              </tr>
              </thead>

              <tbody id="searchRow">
              <tr th:if="${storeSttList == null}">
                <td colspan="14">게시글이 없습니다</td>
              </tr>
              <tr th:unless="${storeSttList == null}" th:each="l : ${storeSttList}">
                <td>
                  <span th:text="${l.storeName}"></span>
                </td>
                <td>
                  <span th:text="${l.adjustmentYear}"></span>
                </td>
                <td>
                  <span th:text="${l.month1}"></span>
                </td>
                <td>
                  <span th:text="${l.month2}"></span>
                </td>
                <td>
                  <span th:text="${l.month3}"></span>
                </td>
                <td>
                  <span th:text="${l.month4}"></span>
                </td>
                <td>
                  <span th:text="${l.month5}"></span>
                </td>
                <td>
                  <span th:text="${l.month6}"></span>
                </td>
                <td>
                  <span th:text="${l.month7}"></span>
                </td>
                <td>
                  <span th:text="${l.month8}"></span>
                </td>
                <td>
                  <span th:text="${l.month9}"></span>
                </td>
                <td>
                  <span th:text="${l.month10}"></span>
                </td>
                <td>
                  <span th:text="${l.month11}"></span>
                </td>
                <td>
                  <span th:text="${l.month12}"></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</th:block>

</body>


<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
  <script>
    $(function(){
      //초기화 버튼
      $("#reset").click(function(){
        $("searchStoreStt input").val('');
        $("searchStoreStt select").val('');
      })
    /* $('#datatable-checkbox').dataTable();*/
    });

    //유효성 검사
    const validationCheck = function(data) {
      let isValid = true;
      if(typeof data == 'object'){
        $.each(data, function (key, value) {
          if (value == null || value == '' || typeof value == 'undefined') {
            //입력된 값이 유효성 검사를 통과하지 못할 경우 isValid를 false로 변경
            isValid = false;
            return isValid;
          }
        });
      }else {
        if (data == null || data == '' || typeof data == 'undefined') {
          isValid = false;
        }
      }
      return isValid;
    }

    //검색
    const $searchBtn = document.querySelector('#searchBtn');
    const $searchKey = document.querySelector('#searchKey');
    const $searchValue = document.querySelector('#searchValue');

    let key = '';
    let value = '';

    $searchBtn.addEventListener('click', function(){
      const search = {
        'adjustmentYear' : $("#adjustmentYear").val(),
        'storeId' : $("#storeId").val(),
        'storeName' : $("#storeName").val(),
      }
      console.log(search);
      const $formData = document.querySelectorAll('#searchStoreStt input, #searchStoreStt select');
      const searchStoreStt = [...$formData].reduce((acc, item) => {
                                  const paramObj = {}
                                  let data = '';
                                  if(item.value) data = item.value;
                                  paramObj['searchKey'] = item.id;
                                  paramObj['searchValue'] = data;
                                  acc.push(paramObj);
                                  return acc;
                                },[]);
      fetch("/admin/statistic/searchStoreStt" ,{
        headers: {
          'Accept' : 'application/json',
          'Content-Type' : 'application/json'
        },
        method: "POST",
        body: JSON.stringify(searchStoreStt),
      })
      .then((response) => response.json())
      .then((result) => {
            let searchRow = '';
            let searchStoreName = '';
            let totalAmount = 0;
            result.forEach((item, idx) => {
              console.log(item)
              searchRow += `
              <tr>
                  <td>${item.storeName}</td>
                  <td>${item.adjustmentYear}</td>
                  <td>${item.month1}</td>
                  <td>${item.month2}</td>
                  <td>${item.month3}</td>
                  <td>${item.month4}</td>
                  <td>${item.month5}</td>
                  <td>${item.month6}</td>
                  <td>${item.month7}</td>
                  <td>${item.month8}</td>
                  <td>${item.month9}</td>
                  <td>${item.month10}</td>
                  <td>${item.month11}</td>
                  <td>${item.month12}</td>
              </tr>`;
              /*searchStoreName += item.storeName;*/
              totalAmount += item.totalAmount;
            });

            console.log(searchRow);
            const $searchRow = document.querySelector('#searchRow');
            $searchRow.innerHTML = searchRow;

          /*document.querySelector('#searchStoreName').textContent = searchStoreName;*/
          document.querySelector('#totalAmount').textContent = totalAmount;

      });
    })

    $searchBtn.addEventListener('click', function(){
      const search = {
        'adjustmentYear' : $("#adjustmentYear").val(),
        'storeId' : $("#storeId").val(),
        'storeName' : $("#storeName").val(),
      }
      console.log(search);
      const $formData = document.querySelectorAll('#searchStoreStt input, #searchStoreStt select');
      const searchStoreStt = [...$formData].reduce((acc, item) => {
        const paramObj = {}
        let data = '';
        if(item.value) data = item.value;
        paramObj['searchKey'] = item.id;
        paramObj['searchValue'] = data;
        acc.push(paramObj);
        return acc;
      },[]);
      fetch("/admin/statistic/searchStoreStt" ,{
        headers: {
          'Accept' : 'application/json',
          'Content-Type' : 'application/json'
        },
        method: "POST",
        body: JSON.stringify(searchStoreStt),
      })
              .then((response) => response.json())
              .then((result) => {
                result.forEach((item, idx) => {
                  const ctx = document.getElementById('storeChart').getContext('2d');
                  const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: ['1', '2', '3', '4', '5', '6','7','8','9','10','11','12'],
                      datasets: [{
                        label: '# of Votes',
                        data: [item.month1, item.month2, item.month3, item.month4, item.month5, item.month6, item.month7, item.month8, item.month9, item.month10, item.month11, item.month12],
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  })
                })
              })
            })




    // chart js 호출부 작성하시오
    const ctx = document.getElementById('storeChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['1', '2', '3', '4', '5', '6','7','8','9','10','11','12'],
        datasets: [{
          label: '해당 월 사용액',
          data: [],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</th:block>
</html>


