
<!--
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">

	<!-- 사용자별 css file 추가 부분 -->
	<head>

	</head>

	<!-- 사용자 페이지별 javascript file 추가-->
	<th:block layout:fragment="customJsFile">

	</th:block>

	<!-- 사용자별 스크립트 작성 -->
	<th:block layout:fragment="customJsCode">

	</th:block>

	<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
	<th:block layout:fragment="customContents">
		<!--====== HERO PART START ======-->
		<section id="home" class="hero-area bg_cover">
			<div class="container">
				<div class="row">
					<div class="mx-auto col-lg-7 col-xl-6 col-md-10">
						<div class="text-center hero-content">
							<h1 class="mb-30 wow fadeInUp" data-wow-delay=".2s">NURI CULTURE</h1>
							<p class="wow fadeInUp" data-wow-delay=".4s">문화누리카드 충전, 온라인구매 원스탑 플랫폼입니다</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--====== HERO PART END ======-->

		<!--====== SEARCH PART START ======-->
		<div class="search-area">
			<div class="container">
				<div class="search-wrapper">
					<form action="#">
						<div class="row justify-content-center">
							<div class="col-lg-3 col-sm-5 col-10">
								<div class="search-input">
									<label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
									<input type="text" name="keyword" id="keyword" placeholder="컨텐츠 이름">
								</div>
							</div>
							<div class="col-lg-3 col-sm-5 col-10">
								<div class="search-input">
									<label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
									<select name="category" id="category">
										<option value="none" selected disabled>카테고리</option>
										<option value="none">카테고리1</option>
									</select>
								</div>
							</div>
							<div class="col-lg-3 col-sm-5 col-10">
								<div class="search-input">
									<label for="location"><i class="lni lni-map-marker theme-color"></i></label>
									<select name="location" id="location">
										<option value="none" selected disabled>지역</option>
										<option value="none">지역1</option>
									</select>
								</div>
							</div>
							<div class="col-lg-2 col-sm-5 col-10">
								<div class="search-btn">
									<button class="main-btn btn-hover">검색 <i class="lni lni-search-alt"></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--====== SEARCH PART END ======-->

	</th:block>





</html>
