<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">
<head>
</head>
<!-- 사용자 페이지별 javascript file 추가-->
    <th:block layout:fragment="customJsFile">
		
    </th:block>
    
    <!-- 사용자별 스크립트 작성 -->
    <th:block layout:fragment="customJsCode">

    </th:block>

    <!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
	<!-- 위 banner -->
	<th:block layout:fragment="customContents">
	<!-- 가맹점 검색 기능 추가 -->
	
	
	<!-- 가맹점 목록 테이블 -->
	<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>가맹점 전체 목록 <small>Total Store List</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">회원아이디</th>
                            <th class="column-title">가맹점명 </th>
                            <th class="column-title">가맹점 주소 </th>
                            <th class="column-title">사업자명</th>
                            <th class="column-title">업종</th>
                            <th class="column-title">사업자번호</th>
                            <th class="column-title">법인번호</th>
                            <th class="column-title"><span class="nobr">수정</span>
                            <th class="column-title last"><span class="nobr">삭제</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">gmrkkolr02</td>
                            <td class=" ">홍지서림 전주점</td>
                            <td class=" ">전라북도 전주시 완산구  동문길 106 홍지서림</td>
                            <td class=" ">김머시기 </td>
                            <td class=" ">도서</td>
                            <td class=" ">213-45-78952</td>
                            <td class="last">-</td>
                            <td><a th:href="@{/admin/store/storeInfoUpdate}"><button class="btn btn-info" type="button">수정</button></a></td>
                          	<td><a th:href="@{/admin/store/storeInfoList}"><button class="btn btn-info" type="Button" id="deleteButton">삭제</button></a></td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">tematour21</td>
                            <td class=" ">테마투어</td>
                            <td class=" ">전남 여수시 진남상가길 2, 2층 </td>
                            <td class=" ">박모씨</td>
                            <td class=" ">관광</td>
                            <td class=" ">846-21-84155</td>
                            <td class="last">-</td>
                            <td><a th:href="@{/admin/store/storeInfoUpdate}"><button class="btn btn-info" type="button">수정</button></a></td>
                          	<td><a th:href="@{/admin/store/storeInfoList}"><button class="btn btn-info" type="Button" id="deleteButton">삭제</button></a></td>
                            </td>
                          </tr>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">hanokr643</td>
                            <td class=" ">한옥마을 아트홀</td>
                            <td class=" ">전북 전주시 완산구 경기전길 42 (경원동2가) </td>
                            <td class=" ">김관계자</td>
                            <td class=" ">공연</td>
                            <td class=" ">894-12-84951</td>
                            <td class="last">-</td>
                            <td><a th:href="@{/admin/store/storeInfoUpdate}"><button class="btn btn-info" type="button">수정</button></a></td>
                          	<td><a th:href="@{/admin/store/storeInfoList}"><button class="btn btn-info" type="Button" id="deleteButton">삭제</button></a></td>
                            </td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">bbang3509</td>
                            <td class=" ">대구사격장</td>
                            <td class=" ">대구 북구 문주길 170 </td>
                            <td class=" ">일루수</td>
                            <td class=" ">체육</td>
                            <td class=" ">94827-12-56213</td>
                            <td class="last">-</td>
                            <td><a th:href="@{/admin/store/storeInfoUpdate}"><button class="btn btn-info" type="button">수정</button></a></td>
                          	<td><a th:href="@{/admin/store/storeInfoList}"><button class="btn btn-info" type="Button" id="deleteButton">삭제</button></a></td>
                            </td>
                          </tr>
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">pentaport35</td>
                            <td class=" ">CGV 천안펜타포트</td>
                            <td class=" ">충남 천안시 서북구 공원로 196(불당동) </td>
                            <td class=" ">조양규</td>
                            <td class=" ">영화</td>
                            <td class=" ">48521-84-54121</td>
                            <td class="last">895541-4125612</td>
                            <td><a th:href="@{/admin/store/storeInfoUpdate}"><button class="btn btn-info" type="button">수정</button></a></td>
                          	<td><a th:href="@{/admin/store/storeInfoList}"><button class="btn btn-info" type="Button" id="deleteButton">삭제</button></a></td>
                            </td>
                          </tr>
                          <tr class="odd pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">gogangbk53</td>
                            <td class=" ">고강BK스포츠센터</td>
                            <td class=" ">경기 부천시 오정구 고리울로51번길34 지하23층 2301호</td>
                            <td class=" ">이경수</td>
                            <td class=" ">체육</td>
                            <td class=" ">486-45-48912</td>
                            <td class="last ">-</td>
                            <td><a th:href="@{/admin/store/storeInfoUpdate}"><button class="btn btn-info" type="button">수정</button></a></td>
                          	<td><a th:href="@{/admin/store/storeInfoList}"><button class="btn btn-info" type="Button" id="deleteButton">삭제</button></a></td>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
	</th:block>
</html>