<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/layout/default}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/js/jquery-3.7.1.js}"></script>
	</th:block>
		<th:block>
	<script>
		$(function(){
			function validationCheck(input){
				let isValid=true;
				if(typeof input == 'object'){
					$.each(input, function(){
						let checkValue = $(this).val();
  							if(checkValue == null || checkValue == '' || typeof checkValue == 'undefined'){
  		  						isValid = false;
  		  						let eleId = $(this).attr('id');
  		  						let cate = $(`label[for="${eleId}"]`).text();
  		  						$(this).focus();
  		  						return isValid;
  							}
					});
				}else{
					if(input == null || input == '' || typeof input == 'undefined') {
						isValid=false;
					}
				}
				return isValid;
			}
			//option 값에 입력을 안했다면 option에도 입력 안했다는 메세지를 출력하게 해야 함.
		});
		</script>
	</th:block>
  <body id="page-top">

	<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
	<th:block layout:fragment="customContents">
		<div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start form for validation -->
                    <form id="demo-form" data-parsley-validate="form-horizontal form-label-left" required="required">
                     <label for="memberId">회원아이디</label>
                      <input type="text" id="memberId" class="form-control" name="mId"  readonly="readonly"/><br>
                      <label for="storeName">가맹점명</label>
                      <input type="text" id="storeName" class="form-control" name="sName" required="required" readonly="readonly"/><br>
                      <label for="storeAddr">가맹점주소</label>
                      <input type="text" id="storeAddr" class="form-control" name="sAddr" data-parsley-trigger="change" required="required" /><br>
                      <label for="businessName">사업자명</label>
                      <input type="text" id="businessName" class="form-control" name="bName" data-parsley-trigger="change" readonly="readonly"/><br>
					   <label for="contentsCate">업종</label>
					   <select id="heard" class="form-control" required="required" readonly="readonly">
                            <option value="contentsSelect">선택하시오</option>
                            <option value="book">도서</option>
                            <option value="perform">전시</option>
                            <option value="movie">영화</option>
                            <option value="tour">관광</option>
                            <option value="sports">체육</option>
                            <option value="OTT">디지털 컨텐츠</option>
                          </select><br>
                      <label for="businessNumber">사업자번호</label>
                      <input type="text" id="businessNum" class="form-control" name="businNum" data-parsley-trigger="change" required="required"></input><br>
                      <label for="companyNumber">법인번호</label>
                      <input type="text" id="companyNum" class="form-control" name="companyNum" data-parsley-trigger="change" required="required"></input><br>
                      <label for="storeModifyDate">가맹점 정보 수정일</label>
                      <input type="Date" id="ModifyDate" class="form-control" name="storeModifyDate" data-parsley-trigger="change" readonly="readonly"></input><br>

                          <br/>
                          <button type="submit" id="addStoreBtn" a th:href="@{/admin/store/aStoreList}" class="btn btn-primary">가맹점 정보 수정</button>

                    </form>
                    <!-- end form for validations -->

                  </div>
	</th:block>

  </body>

</html>
