<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

<th:block layout:fragment="customJs">
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
</th:block>

<th:block layout:fragment="customJsCode">
	<script>
		const validationCheck = function(data) {
			let isValid = true;
			if(typeof data == 'object'){
				$.each(data, function (key, value) {
					if (value == null || value == '' || typeof value == 'undefined') {
						//입력된 값이 유효성 검사를 통과하지 못할 경우 isValid를 false로 변경
						isValid = false;
						//유효성 검사에 실패한 값을 alert로 알려준 후 해당 input으로 커서 이동
						let $elementId = $(`label[for="${key}"]`).text();
						alert(`${$elementId} <-- 필수 입력 항목입니다.`);
						$(`input[id="${key}"]`).focus();
						return isValid;
					}
				});
			}else {
				if (data == null || data == '' || typeof data == 'undefined') {
					isValid = false;
				}
			}
			return isValid;
		}

		$("#budgetUpdateBtn").click(function () {
			if(confirm("수정하시겠습니까?")){
				//값에 변동이 생긴 경우 객체 budget에 저장
				const budget = {
					officerId: 'OFC231012002',
					budgetByPerson: $("#budgetByPerson").val(),
					budgetTotalAmount: $("#budgetTotalAmount").val()
				}
				console.log(budget);
				let isValid = validationCheck(budget);

				if(!isValid){
					//유효성 검사 통과하고 연도가 중복되지 않는 경우에만 submit
					console.log("유효성 검사 : " + isValid);
					return false;

				}else{
					console.log("유효성 검사 : " + isValid);
					const updateBudgetForm = $("#updateBudgetForm");
					const $officerId = $('<input />', {'type': 'hidden', 'name': 'officerId', 'value': budget.officerId});
					updateBudgetForm.append($officerId);
					//updateBudgetForm.submit();
				}
				alert("수정이 완료되었습니다.");

			}else{
				alert("수정 취소");
			}
		});

		//삭제 버튼 누르고 '취소'를 누른 경우 이동 막기
		function cancelDelete(e) {
			if(!confirm('삭제하시겠습니까?')){
				e.preventDefault();
			}
		}
	</script>
</th:block>

<body id="page-top">

<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
<th:block layout:fragment="customContents">
	<div class="col-md-12 col-sm-12 ">
		<div class="x_panel">
			<div class="x_title">
				<h2>예산 수정</h2>

				<div class="clearfix"></div>
			</div>
			<div class="x_content" >
				<form id="updateBudgetForm" th:action="@{/admin/budget/budgetUpdate}" class="form-horizontal form-label-left" th:object="${budget}" method="post">
					<div class="form-group row">
						<label for="applyYear" class="control-label col-md-3 col-sm-3 col-xs-3">연도</label>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<input id="applyYear" type="number" name="applyYear" class="form-control"
							readonly="readonly" th:value="*{applyYear}">
						</div>
					</div>
					<div class="form-group row">
						<label for="budgetByPerson" class="control-label col-md-3 col-sm-3 col-xs-3">1인당 지원 예산(단위 : 원)</label>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<input id="budgetByPerson" type="number" class="form-control"
								   name="budgetByPerson" th:value="*{budgetByPerson}">
						</div>
					</div>
					<div class="form-group row">
						<label for="budgetTotalAmount" class="control-label col-md-3 col-sm-3 col-xs-3">예산(단위 : 원)</label>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<input id="budgetTotalAmount" type="number" class="form-control"
								   name="budgetTotalAmount" th:value="*{budgetTotalAmount}">
						</div>
					</div>

					<div class="ln_solid"></div>

					<div class="form-group row">
						<div class="col-md-9 offset-md-3">
							<button type="reset" class="btn btn-primary">초기화</button>
							<button id="budgetUpdateBtn" class="btn btn-success">수정</button>
							<a id="budgetDelete" type="button" onclick="cancelDelete(event)" class="btn btn-success"
									th:href="@{/admin/budget/removeBudgetTotal(applyYear=*{applyYear})}">삭제</a>
						</div>
					</div>

				</form>
			</div>
		</div>

	</div>
</th:block>

</body>

</html>
