<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>nuriculture</title>

<style type="text/css">
	.title{
		text-align: center;
	}
</style>

</head>

<body>
	<div class="title">
		<br><br><br>
		<h1>정부문화누리카드 활성화를 위한 컨텐츠 제공 플랫폼</h1>
		<h2>부제 : 누리컬쳐</h2>
		<br><br>
		<h6>한국스마트정보교육원 개발자교육 48기 1팀</h6>
		<h6>박정호, 백서연, 이승호, 이정우</h6>
		<br><br>
		<button th:onclick="'location.href=\''+@{/admin}+'\''">관리자 페이지 이동</button>
		<button th:onclick="'location.href=\''+@{/user}+'\''">사용자 페이지 이동</button>
		
	</div>
</body>
