<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<head>
  <style>
    .x_content .title {
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
      -webkit-line-clamp: 1;
    }
    .contents {
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 350px;
      -webkit-line-clamp: 2 ;
    }
  </style>
</head>

<th:block layout:fragment="customJsCode">
  <script>
    $('.boardTitle').each(function (){
      if ($(this).text().length > 10) {
        $(this).text($(this).text().substring(0, 20) + '...');
      }
    });
  </script>

  <script>
    const $searchBtn = document.querySelector('#searchBtn');
    const $searchKey = document.querySelector('#searchKey');
    const $searchValue = document.querySelector('#searchValue');
    const searchListUrl = '/admin/board/boardSearchList';
    let key = "";
    let value = "";

    let checkBox = document.querySelector('#datatable-checkbox');
    let $searchListTable = document.querySelector('#searchListTable');

    $searchBtn.addEventListener('click', () => {
      $searchListTable.replaceChildren();
      key = $searchKey.value;
      let value = $searchValue.value;
      search(key, value)
    })

    function search (key, value) {
      let searchRow = "";
      console.log(key, value);
      let tbodyData = [];
      fetch(searchListUrl, {
        method : "POST",
        headers : {
          "Content-Type" : "application/json"
        },
        body : JSON.stringify({
          searchKey : key,
          searchValue : value
        })
      })
              .then((response) => response.json())
              .then((result) => {
                let searchRow = '';
                console.log(result)
                result.forEach((element) => {
                  searchRow += `
                              <tr>
                                <td class="sorting_1">
                                  <div class="icheckbox_flat-green" style="position: relative;">
                                    <input type="checkbox" value="${element.boardCode}" name="check-board" class="flat" style="position: absolute; opacity: 0;">
                                  </div>
                                </td>
                                <td>${element.boardCode}</td>
                                <td>${element.boardCateName}</td>
                                <td>${element.userInfo.userId}</td>
                                <td><a href=/admin/board/boardContentDetail?boardCode=${element.boardCode}>${element.boardWritingTitle}</a></td>
                                <td>${element.boardRegDate}</td>
                                <td>${element.boardUpdateDate}</td>
                            </tr>`;
                });
                $searchListTable.innerHTML = searchRow;
              });
    }
  </script>
</th:block>

<body id="page-top">
<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
<th:block layout:fragment="customContents">
  <div class="" role="main">

    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>게시글 조회 </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                  <label for="searchKey" class="control-label col-md-3 col-sm-3 col-xs-12">항목</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="searchKey" class="form-control" name="searchKey" required>
                      <option value="">선택</option>
                      <option value="boardCateCode">게시판 카테고리</option>
                      <option value="userId">아이디</option>
                      <option value="boardWritingTitle">게시글 제목</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="searchValue" class="control-label col-md-3 col-sm-3 col-xs-12">내용</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="searchValue" class="form-control col-md-7 col-xs-12" type="text" name="searchValue">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">취소</button>
                    <button class="btn btn-primary" type="reset">초기화</button>
                    <button id="searchBtn" type="button" class="btn btn-success">검색</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>검색 결과<small>게시글 수정은 해당 게시글 제목을 클릭해주세요</small></h2>
          <a class="collapse-link navbar-right"><i class="fa fa-chevron-up"></i></a>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
            <thead>
            <tr>
              <th><input type="checkbox" id="check-all1" class="flat"></th>
              <th>게시글코드</th>
              <th>게시글카테고리</th>
              <th>작성자 아이디</th>
              <th>게시글 제목</th>
              <th>작성일자</th>
              <th>수정일자</th>
            </tr>
            </thead>

            <tbody id="searchListTable">
            <tr th:if="${boardList == null}">
              <td colspan="7">게시글이 없습니다.</td>
            </tr>
            <tr th:unless="${boardList == null}" th:each="l : ${boardList}">
              <td><input type="checkbox" class="flat"></td>
              <td th:text="${l.boardCode}"></td>
              <td th:utext="${l.boardCateName}"></td>
              <th:block th:object="${l.userInfo}">
                <td th:text="*{userId}"></td>
              </th:block>
              <td>
                <a th:href="@{/admin/board/boardContentDetail(boardCode=${l.boardCode})}">
                <th:block th:class="boardTitle" th:text="${l.boardWritingTitle}">
                </th:block>
                </a>
              </td>
              <td class="regDate" th:text="${l.boardRegDate}"></td>
              <td class="updateDate" th:text="${l.boardUpdateDate}"></td>
            </tr>


            </tbody>
            <tfoot>
              <tr>
                <td colspan="7" >
                  <div>
                    <a th:href="@{/admin/board/boardCateInfo}">[처음으로]</a>
                    <a th:if="${currentPage > 1}"
                       th:href="@{/admin/board/boardCateInfo(currentPage=${currentPage -1})}">[이전]</a>
                    <span th:unless="${currentPage > 1}">[이전]</span>
                    <!--<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">-->
                      <a th:if="${num != currentPage}"
                         th:href="@{/admin/board/boardCateInfo(currentPage=${num})}">[[${'[' + num + ']'}]]</a>
                      <span th:unless="${num != currentPage}" th:text="|[${num}]|"></span>
                    <!--</th:block>-->

                    <a th:if="${currentPage < lastPage}"
                       th:href="@{/admin/board/boardCateInfo(currentPage=${currentPage +1})}">[다음]</a>
                    <span th:unless="${currentPage < lastPage}">[다음]</span>
                    <a th:href="@{/admin/board/boardCateInfo(currentPage=${lastPage})}">[마지막으로]</a>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</th:block>
</body>
</html>
