/*============================
hero area css
============================= */

.hero-area {
	background-image: url('../images/hero/hero-bg.jpg');
	position: relative;
	z-index: 1;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background: linear-gradient(rgba(51, 63, 87, 0.79) 0%, #333f57 100%);
	}

	.hero-content {
		padding: 270px 0 260px;

		@media #{$laptop} {
			padding: 200px 0px 180px;
		}
		@media #{$lg} {
			padding: 220px 0px 180px;
		}
		@media #{$md} {
			padding: 220px 0px 180px;
		}
		@media #{$xs} {
			padding: 220px 0px 180px;
		}

		h1 {
			font-size: 55px;
			font-weight: 700;
			line-height: 65px;
			color: $white;

			@media #{$xs} {
				font-size: 42px;
				line-height: 52px;
			}
			@media #{$sm} {
				font-size: 55px;
				line-height: 65px;
			}
		}

		p {
			font-size: 18px;
			line-height: 28px;
			color: $white;
			margin-bottom: 35px;
		}

	}

}

