

.search-area {
  margin-top: -85px;
  position: relative;
  z-index: 999;

  .search-wrapper {
    background-color: $white;
    border-radius: 5px;
    padding: 48px 0px;
    @include box-shadow(0px 3px 25px rgba(203, 207, 213, 0.3));


    form {

      .search-input {
        position: relative;

        label {
          position: absolute;
          right: 25px;
          top: 50%;
          @include transform(translateY(-50%));
        }
      }

      input, select {
        width: 100%;
        background: $white;
        border-radius: 30px;
        border: 1px solid $border-color;
        padding: 0 25px;
        height: 55px;
        margin: 10px 0;
      }
      select {
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      button {
        background-color: $theme-color;
        color: $white;
        width: 100%;
        padding: 0 25px;
        height: 55px;
        margin: 10px 0;
        text-align: left;
        position: relative;
        font-weight: 400;

        i {
          position: absolute;
          right: 25px;
          top: 0;
          height: 55px;
          line-height: 55px;
        }
      }
    }
  }
}
