<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <title th:text="${title}"></title>

    <!-- 필수 입력 및 input 태그 설명을 색을 이용하여 강조-->
    <style>
        .input-specific {
            color: #FF6B6B;
        }

        .notice-show {
            display: block;
        }

        .notice-hide {
            display: none;
        }

        .like-button {
            cursor: pointer;
        }
    </style>
    <script src="/user/assets/js/jquery-3.7.1.min.js"></script>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">
    <script src="/user/assets/js/district-list.js"></script>
    <script src="/user/assets/js/userValidate.js"></script>
    <script src="/user/assets/js/officerForm.js"></script>
    <script src="/user/assets/js/formControl.js"></script>
</th:block>



<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">회원가입</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/user}">메인페이지</a></li>
                                <li class="breadcrumb-item active" aria-current="page">공무원 회원가입</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <!--====== 입력 단계 정보 시작 ======-->
    <section class="service-area pt-60">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-6 col-sm-8 col-11" id="progress1">
                    <div class="single-service like-button">
                        <div class="icon">
                            <strong>1</strong>
                        </div>
                        <div class="service-content">
                            <h3>약관동의</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-8 col-11" id="progress2">
                    <div class="single-service like-button">
                        <div class="icon">
                            <strong>2</strong>
                        </div>
                        <div class="service-content">
                            <h3>회원정보 작성</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-8 col-11" id="progress3">
                    <div class="single-service like-button">
                        <div class="icon">
                            <strong>3</strong>
                        </div>
                        <div class="service-content">
                            <h3>공무원 정보 작성</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--====== 입력 단계 정보 끝 ======-->

    <!--====== 약관 동의 설명 시작 ======-->
    <section class="accordions-area pt-60 pb-90" id="agreement">
        <div class="container">
            <div class="row">
                <div class="login-wrapper box-style">
                    <div class="col-12">
                        <div class="accordion-wrapper">
                            <h1 class="text-center">가입약관</h1>
                            <p class="text-center mb-30">누리컬쳐의 이용약관에 동의해주세요</p>
                            <div class="accordion" id="accordionExample1">
                                <div class="single-accordion">
                                    <button class="text-left accordion-btn btn-block" type="button" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                        이용약관 동의
                                    </button>

                                    <div id="collapseOne" class="collapse" data-parent="#accordionExample1">
                                        <div class="accordion-content">
                                            <div th:replace="~{/user/fragments/terms :: terms1}"></div>
                                        </div>
                                        <div class="content d-flex justify-content-center mb-10">
                                            <label for="term1">
                                                <input class="p-0 form-check-input mr-1" type="checkbox" name="flexRadioDefault" id="term1">위 약관을 읽고 동의하였습니다.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion" id="accordionExample2">
                                <div class="single-accordion">
                                    <button class="text-left accordion-btn btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="true" aria-controls="collapseOne">
                                        개인정보 수집 및 이용 동의
                                    </button>

                                    <div id="collapseTwo" class="collapse" data-parent="#accordionExample2">
                                        <div class="accordion-content">
                                            <div th:replace="~{/user/fragments/terms :: terms2}"></div>
                                        </div>
                                        <div class="content d-flex justify-content-center mb-10">
                                            <label for="term2">
                                                <input class="p-0 form-check-input mr-1" type="checkbox" name="flexRadioDefault" id="term2">위 약관을 읽고 동의하였습니다.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== 약관 동의 설명 시작 ======-->

    <!--====== 사용자 회원 가입 form 시작 ======-->
    <section class="login-area pt-70 pb-70 notice-hide" id="userForm">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="login-wrapper box-style">
                        <h3 class="mb-20">회원정보 입력</h3>
                        <div class="row">
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="userId" class="mb-2"><small class="input-specific">*</small>아이디</label>
                                    <span class="ml-1 input-specific notice-hide" id="id-alert1">이미 등록되어 있는 아이디입니다</span>
                                    <span class="ml-1 input-specific notice-hide" id="id-alert2">영문자 또는 숫자를 6~20 자리 미만으로 입력해주세요</span>
                                    <input type="text" id="userId" name="userId" placeholder="아이디를 입력해주세요" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="userPw" class="mb-2"><small class="input-specific">*</small>비밀번호</label>
                                    <span class="ml-1 input-specific notice-hide" id="pw-alert">특수문자를 포함하여 비밀번호를 6자리 이상 입력해주세요</span>
                                    <input type="password" id="userPw" name="userPw" placeholder="비밀번호를 입력해주세요" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <p id="pwValidation"></p>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="userPwCheck" class="mb-2"><small class="input-specific">*</small>비밀번호 확인</label>
                                    <span class="ml-1 input-specific notice-hide" id="pw-checkAlert">비밀번호가 일치하지 않습니다</span>
                                    <input type="password" id="userPwCheck" placeholder="확인을 위해 다시 입력해주세요" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="userName" class="mb-2"><small class="input-specific">*</small>이름</label>
                                    <span class="ml-1 input-specific notice-hide" id="name-alert">이름을 입력해주세요</span>
                                    <input type="text" id="userName" name="userName" placeholder="이름을 입력해주세요" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="userBirth" class="mb-2"><small class="input-specific">*</small>생년월일</label>
                                    <span class="ml-1 input-specific notice-hide" id="dateCheck">7세 미만은 가입하실 수 없습니다</span>
                                    <input type="date" id="userBirth" name="userBirth" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="userContact" class="mb-2"><small class="input-specific">*</small>연락처</label>
                                    <span class="ml-1 input-specific notice-hide" id="contact-alert">연락처는 11자리를 작성해야합니다</span>
                                    <input type="text" id="userContact" name="userContact" placeholder="연락처(휴대폰)을 입력해주세요" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="userEmail" class="mb-2"><small class="input-specific">*</small>이메일</label>
                                    <span class="ml-1 input-specific notice-hide" id="mail-alert">올바른 이메일 주소인지 확인해주세요</span>
                                    <input type="text" id="userEmail" name="userEmail" placeholder="이메일을 입력해주세요" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <!-- 주소 API 이용할 수 있을 경우, 주소 API를 통한 값을 Parsing(구문분석)하여 자동완성 -->
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="regionCode" class="mb-2"><small class="input-specific">*</small>지역 1 <small class="input-specific">도, 특별시, 광역시</small></label>
                                    <span class="ml-1 input-specific notice-hide" id="region-alert">지역을 입력해주세요</span>
                                    <select class="col-12 py-2 px-3 mb-0 rounded border" name="regionCode" id="regionCode">
                                        <option value="none" selected disabled style="color: grey">지역을 입력해주세요</option>
                                        <option th:each="area : ${regionList}"  th:value="${area.regionCode}" th:text="${area.regionName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="districtCode" class="mb-2"><small class="input-specific">*</small>지역 2 <small class="input-specific">시, 군, 구</small></label>
                                    <span class="ml-1 input-specific notice-hide" id="district-alert">지역을 입력해주세요</span>
                                    <select class="col-12 py-2 px-3 mb-0 rounded border" name="districtCode" id="districtCode">
                                        <option value="none" selected disabled>지역을 입력해주세요</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="address1" class="mb-2"><small class="input-specific">*</small>상세주소 1 </label>
                                    <span class="ml-1 input-specific notice-hide" id="address1Alert">지역을 입력해주세요</span>
                                    <input type="text" id="address1" name="userAddress" placeholder="상세주소를 입력해주세요" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-form mb-20">
                                    <label for="address2" class="mb-2 px-1">상세주소 2 </label>
                                    <input type="text" id="address2" placeholder="" class="py-2 px-3 mb-0 rounded border">
                                </div>
                            </div>
                            <div class="single-form mb-20">
                                <span class="input-specific notice-hide"><small class="input-specific">*</small>는 필수 요소 항목입니다.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== 사용자 회원 가입 form 끝 ======-->

    <!--====== 공무원 회원 가입 form 시작 ======-->
        <section class="login-area pt-70 pb-70 notice-hide" id="specificForm">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="login-wrapper box-style">
                            <h3 class="mb-20">공무원 정보 입력</h3>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="single-form mb-20">
                                            <label for="officerRegion" class="mb-2"><small class="input-specific">*</small>행정지역</label>
                                            <select class="col-12 py-2 px-3 mb-0 rounded border" name="officerRegion" id="officerRegion">
                                                <option th:each="regionCate : ${regionList}" th:value="${regionCate.regionCode}" th:text="${regionCate.regionName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="single-form mb-20">
                                            <label for="department" class="mb-2"><small class="input-specific">*</small>부서 </label>
                                            <select class="col-12 py-2 px-3 mb-0 rounded border" name="department" id="department">
                                                <option value="none"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="single-form mb-20">
                                            <label for="officerCert" class="mb-2"><small class="input-specific">*</small>공무원 등록 번호</label>
                                            <input type="text" id="officerCert" name="officerCert" placeholder="공무원 등록 번호를 입력해주세요." class="py-2 px-3 mb-0 rounded border">
                                        </div>
                                    </div>
                                    <div class="single-form mb-20">
                                        <p><small class="input-specific">*</small>는 필수 요소 항목입니다.</p>
                                    </div>
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="single-form mb-30">
                                            <button id="submit-btn" class="main-btn btn-hover py-2 px-5 rounded">회원가입</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <!--====== 공무원 회원 가입 form 끝 ======-->

</th:block>

</html>