<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/user/assets/css/shop.css}"/>
    <link rel="stylesheet" th:href="@{/user/assets/css/news.css}"/>

    <!-- 필수 입력 및 input 태그 설명을 색을 이용하여 강조-->
    <style>
        .input-specific {
            color: #FF6B6B;
        }

        .appear {
            display: block;
        }

        .disappear {
            display: none;
        }
    </style>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white">회원가입</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/user}">메인페이지</a></li>
                                <li class="breadcrumb-item active" aria-current="page">회원가입완료</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <!--====== WELCOME PART START ======-->
    <section class="welcome-area pt-60 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="welcome-img">
                        <img src="/user/assets/images/logo/logo-2.svg" alt="" class="image mt-20">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="welcome-content">
                        <h1 class="mb-30">가입을 환영합니다.</h1>
                        <p>우리 주변에 있는 문화시설을 찾고, 즐거운 문화생활을 보내세요!</p>
                        <a th:href="@{/user/}" class="main-btn btn-hover">메인페이지로 이동</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== WELCOME PART END ======-->

</th:block>

<script src="/user/assets/js/register-tab.js"></script>

</html>