<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team01.mapper.AreaMapper">
    <resultMap type="Region" id="regionResultMap">
        <id property="regionCode" column="region_code"/>
        <result property="regionName" column="region_name"/>
    </resultMap>

    <resultMap id="districtResultMap" type="District">
        <id property="districtCode" column="district_code"/>
        <result property="regionCode" column="region_code"/>
        <result property="districtName" column="district_name"/>
    </resultMap>

    <select id="getRegionList" resultType="Region">
        SELECT
            REGION_CODE AS regionCode,
            REGION_NAME AS regionName
        FROM
            REGION;
    </select>

    <select id="getDistrictList" resultMap="districtResultMap" parameterType="String">
        SELECT
            DISTRICT_CODE,
            REGION_CODE,
            DISTRICT_NAME
        FROM
            DISTRICT
        WHERE
            REGION_CODE = #{regionCode};
    </select>


</mapper>