<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team01.mapper.AreaMapper">
    <resultMap type="Region" id="regionResultMap">
        <id property="regionCode" column="region_code"/>
        <result property="regionName" column="region_name"/>
    </resultMap>

    <resultMap id="districtResultMap" type="District">
        <id property="districtCode" column="district_code"/>
        <result property="regionCode" column="region_code"/>
        <result property="districtName" column="district_name"/>
    </resultMap>

    <select id="getRegionList">
        SELECT
            REGION_CODE AS regionCode,
            REGION_NAME AS regionName
        FROM
            REGION;
    </select>

    <select id="getDistrictList" resultType="District">
        SELECT
            D.DISTRICT_CODE AS districtCode,
            R.REGION_CODE AS regionCode,
            R.REGION_NAME AS regionName,
            D.DISTRICT_NAME AS districtName
        FROM
            DISTRICT AS D
        INNER JOIN
            REGION AS R
        ON
            D.REGION_CODE = R.REGION_CODE;
    </select>

    <select id="getDistrictListByRegion" resultMap="districtResultMap" parameterType="String">
        SELECT
            DISTRICT_CODE,
            REGION_CODE,
            DISTRICT_NAME
        FROM
            DISTRICT
        WHERE
            REGION_CODE = #{regionCode};
    </select>

    <select id="getDistrictDepartmentList" resultType="DistrictDep">
        SELECT
            R.REGION_CODE AS regionCode,
            D.DISTRICT_CODE AS districtCode,
            P.DISTRICT_DEP_CODE AS districtDepCode,
            R.REGION_NAME AS regionName,
            D.DISTRICT_NAME AS districtName,
            P.DISTRICT_DEP_NAME AS districtDepName
        FROM
            DISTRICT AS D
        INNER JOIN
            REGION AS R
        ON
            D.REGION_CODE = R.REGION_CODE
        INNER JOIN
            DISTRICT_DEP AS P
        ON
            D.DISTRICT_CODE = P.DISTRICT_CODE;
    </select>

    <select id="departmentListByRegion" resultType="DistrictDep" parameterType="String">
        SELECT
            RG.REGION_CODE AS regionCode,
            RG.REGION_NAME AS regionName,
            DD.DISTRICT_DEP_CODE AS districtDepCode,
            DD.DISTRICT_DEP_NAME AS districtDepName
        FROM
            REGION AS RG
        INNER JOIN
            DISTRICT_DEP AS DD
        ON
            RG.REGION_CODE = DD.REGION_CODE
        WHERE
            DD.REGION_CODE = #{regionCode}
    </select>


</mapper>