<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team01.mapper.BudgetMapper">

    <resultMap type="Budget" id="budgetTotalResultMap">
        <id property="budgetNum" column="BUDGET_NUM"/>
        <result property="officerId" column="OFFICER_ID"/>
        <result property="applyYear" column="APPLY_YEAR"/>
        <result property="budgetByPerson" column="BUDGET_BY_PERSON"/>
        <result property="budgetTotalAmount" column="BUDGET_TOTAL_AMOUNT"/>
        <result property="registDT" column="REGIST_DT"/>
        <result property="updateDT" column="UPDATE_DT"/>
    </resultMap>

<!--    <resultMap type="Budget" id="budgetRegionResultMap">-->
<!--        <id property="budgetRegionNum" column="BUDGET_REGION_NUM"/>-->
<!--        <result property="applyYear" column="APPLY_YEAR"/>-->
<!--        <result property="regionCode" column="REGION_CODE"/>-->
<!--        <result property="officerId" column="OFFICER_ID"/>-->
<!--        <result property="budgetRegionAmount" column="BUDGET_REGION_AMOUNT"/>-->
<!--        <result property="munhwaRegionNOP" column="MUNHWA_REGION_NOP"/>-->
<!--        <result property="registDT" column="REGIST_DT"/>-->
<!--        <result property="updateDT" column="UPDATE_DT"/>-->
<!--    </resultMap>-->

    <select id="getBudgetTotalList" resultMap="budgetTotalResultMap">
        /* 연도별 총 예산, 인당 최대 지원금 조회*/
        SELECT
            BUDGET_NUM,
            OFFICER_ID,
            APPLY_YEAR,
            BUDGET_BY_PERSON,
            BUDGET_TOTAL_AMOUNT,
            REGIST_DT,
            UPDATE_DT
        FROM
            BUDGET_TOTAL
    </select>

    <select id="getBudgetTotalSearch" resultMap="budgetTotalResultMap">
        /* 연도 기준으로 검색 */
        SELECT
            BUDGET_NUM,
            OFFICER_ID,
            APPLY_YEAR,
            BUDGET_BY_PERSON,
            BUDGET_TOTAL_AMOUNT,
            REGIST_DT,
            UPDATE_DT
        FROM
            BUDGET_TOTAL
        WHERE
            APPLY_YEAR = #{searchYear}
    </select>

    <insert id="addBudgetTotal" parameterType="Budget">
        /* 전국 단위 예산 등록 */
        INSERT INTO BUDGET_TOTAL(
            BUDGET_NUM,
            OFFICER_ID,
            APPLY_YEAR,
            BUDGET_BY_PERSON,
            BUDGET_TOTAL_AMOUNT,
            REGIST_DT,
            UPDATE_DT
        )VALUES(
            #{budgetNum},
            #{officerId},
            #{applyYear},
            #{budgetByPerson},
            #{budgetTotalAmount},
            CURDATE(),
            CURDATE()
        )

    </insert>

<!--    <select id="getBudgetRegionList" resultMap="budgetRegionResultMap">-->
<!--        /* 연도별 각 지역 예산, 지원 대상 인구 수 */-->
<!--        SELECT-->
<!--            b.BUDGET_REGION_NUM,-->
<!--            b.APPLY_YEAR,-->
<!--            b.REGION_CODE,-->
<!--            r.REGION_NAME,-->
<!--            b.OFFICER_ID,-->
<!--            b.BUDGET_REGION_AMOUNT,-->
<!--            b.MUNHWA_REGION_NOP,-->
<!--            b.REGIST_DT,-->
<!--            b.UPDATE_DT-->
<!--        FROM-->
<!--            BUDGET_REGION AS b-->
<!--            INNER JOIN-->
<!--            REGION AS r-->
<!--            ON-->
<!--            r.REGION_CODE = b.REGION_CODE;-->
<!--    </select>-->
    <select id="yearCheck" parameterType="String" resultType="boolean">
        /* 연도 중복 여부 검색 */
        SELECT
            COUNT(APPLY_YEAR)
        FROM
            BUDGET_TOTAL
        WHERE
            APPLY_YEAR = #{applyYear}
    </select>


</mapper>