<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team01.mapper.MunhwaCardMapper">

    <resultMap type="MunhwaCard" id="MunhwaCardResultMap">
        <id property="munhwacardNum"        column="MUNHWACARD_NUM"/>
        <result property="userId"           column="USER_ID"/>
        <result property="userName"         column="USER_NAME"/>
        <result property="cvc"              column="CVC"/>
        <result property="cardPw"           column="CARD_PW"/>
        <result property="cardExpiryDate"   column="CARD_EXPIRYDATE"/>
        <result property="cardComp"         column="CARD_COMP"/>
        <result property="cardUsableCheck"  column="CARD_USABLE_CHECK"/>
        <result property="firstUsageAmount" column="FIRST_USAGE_AMOUNT"/>
        <result property="lastUsageAmount"  column="LAST_USAGE_AMOUNT"/>
        <result property="cardIssueDate"    column="CARD_ISSUE_DATE"/>
    </resultMap>

    <select id="getMunhwaCardList" resultMap="MunhwaCardResultMap">
        /* 문화누리카드 전체 조회 */
        SELECT
            m.MUNHWACARD_NUM,
            m.USER_ID,
            u.USER_NAME,
            m.CVC,
            m.CARD_PW,
            m.CARD_EXPIRYDATE,
            m.CARD_COMP,
            m.CARD_USABLE_CHECK,
            m.FIRST_USAGE_AMOUNT,
            m.LAST_USAGE_AMOUNT,
            m.CARD_ISSUE_DATE
        FROM
            MUNHWACARD AS m
            INNER JOIN
            USER_INFO AS u
            ON
            m.USER_ID = u.USER_ID;
    </select>
</mapper>