<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team01.mapper.OfficerMapper">

    <select id="getOfficerInfoList" resultType="Officer">
        SELECT
            OI.OFFICER_ID AS officerId,
            OI.USER_ID AS userId,
            OI.OFFICE_USER_NAME AS officerUserName,
            OI.DISTRICT_DEP_CODE AS districtDepCode,
            DD.DISTRICT_DEP_NAME AS districtDepName,
            OI.OFFICER_CERT AS officerCert,
            OI.WORK_START_DATE AS workStartDate,
            OI.OFFICER_ACCOUNT_STAT AS officerAccountStat,
            OI.OFFICER_RECENT_LOGIN AS officerRecentLogin
        FROM
            OFFICER_INFO AS OI
        INNER JOIN
            DISTRICT_DEP AS DD
        ON
            OI.DISTRICT_DEP_CODE = DD.DISTRICT_DEP_CODE;
    </select>

    <select id="getSpecificOfficerList" parameterType="String" resultType="Officer">
        SELECT
            OI.OFFICER_ID AS officerId,
            OI.USER_ID AS userId,
            OI.OFFICE_USER_NAME AS officerUserName,
            OI.DISTRICT_DEP_CODE AS districtDepCode,
            DD.DISTRICT_DEP_NAME AS districtDepName,
            OI.OFFICER_CERT AS officerCert,
            OI.WORK_START_DATE AS workStartDate,
            OI.OFFICER_ACCOUNT_STAT AS officerAccountStat,
            OI.OFFICER_RECENT_LOGIN AS officerRecentLogin
        FROM
            OFFICER_INFO AS OI
        INNER JOIN
            DISTRICT_DEP AS DD
        ON
            OI.DISTRICT_DEP_CODE = DD.DISTRICT_DEP_CODE
        WHERE
            OFFICER_ID = #{officerId};
    </select>

    <select id="officerSearchList" resultType="Officer" parameterType="String">
        SELECT
            OI.OFFICER_ID AS officerId,
            OI.USER_ID AS userId,
            OI.OFFICE_USER_NAME AS officerUserName,
            OI.DISTRICT_DEP_CODE AS districtDepCode,
            DD.DISTRICT_DEP_NAME AS districtDepName,
            OI.OFFICER_CERT AS officerCert,
            OI.WORK_START_DATE AS workStartDate,
            OI.OFFICER_ACCOUNT_STAT AS officerAccountStat,
            OI.OFFICER_RECENT_LOGIN AS officerRecentLogin
        FROM
            OFFICER_INFO AS OI
        INNER JOIN
            DISTRICT_DEP AS DD
        ON
            OI.DISTRICT_DEP_CODE = DD.DISTRICT_DEP_CODE
        WHERE
            ${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
    </select>

    <update id="getOfficerUpdate" parameterType="Officer">
        UPDATE OFFICER_INFO
        <set>
            <if test="districtDepCode != null and districtDepCode != ''">
                DISTRICT_DEP_CODE = #{districtDepCode},
            </if>
            <if test="officerAccountStat != null and officerAccountStat != ''">
                OFFICER_ACCOUNT_STAT = #{officerAccountStat}
            </if>
        </set>
        WHERE
            OFFICER_ID = #{officerId};
    </update>

    <insert id="officerRegister" parameterType="Officer">
        <selectKey keyProperty="officerId" resultType="String" order="BEFORE">
            SELECT CONCAT('OFC', DATE_FORMAT(NOW(6), '%y%m%d%i%f'))
        </selectKey>
            INSERT INTO OFFICER_INFO
                (OFFICER_ID,
                USER_ID,
                OFFICE_USER_NAME,
                DISTRICT_DEP_CODE,
                OFFICER_CERT,
                WORK_START_DATE,
                OFFICER_ACCOUNT_STAT,
                OFFICER_RECENT_LOGIN)
            VALUES
                (#{officerId},
                #{userId},
                #{officerUserName},
                #{districtDepCode},
                #{officerCert},
                NOW(),
                '사용중',
                NOW())
    </insert>

</mapper>