<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team01.mapper.StoreMapper">

    <resultMap type="Store" id="storeInfoResultMap">
        <id property="storeId" column="STORE_ID"/>
        <result property="storeCategoryCode" column="STORE_CATEGORY_CODE"/>
        <result property="districtCode" column="DISTRICT_CODE"/>
        <result property="storeCategoryName" column="STORE_CATEGORY_NAME"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="storeRegDate" column="STORE_REG_DATE"/>
    </resultMap>

    <select id="getStoreAllKeyword" resultMap="storeInfoResultMap">
        SELECT
            STORE_ID,
            STORE_CATEGORY_CODE,
            STORE_CATEGORY_NAME,
            DISTRICT_CODE,
            STORE_NAME,
            STORE_REG_DATE
        FROM
            STORE_INFO;
    </select>

    <select id="getStoreKeyword" resultMap="storeInfoResultMap" parameterType="String">
        SELECT
            STORE_ID,
            STORE_CATEGORY_CODE,
            STORE_CATEGORY_NAME,
            DISTRICT_CODE,
            STORE_NAME,
            STORE_REG_DATE
        FROM
            STORE_INFO
        WHERE
            STORE_CATEGORY_CODE = #{storeKeyword};
    </select>

</mapper>