<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team01.mapper.UserMapper">

    <resultMap type="User" id="userResultMap">
        <id property="userId" column="USER_ID"/>
        <result property="levelId" column="LEVEL_ID"/>
        <result property="userLevelName" column="USER_LEVEL_NAME"/>
        <result property="districtCode" column="DISTRICT_CODE"/>
        <result property="regionCode" column="REGION_CODE"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userBirth" column="USER_BIRTH"/>
        <result property="userAddress" column="USER_ADDRESS"/>
        <result property="userContact" column="USER_CONTACT"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userRecentLogin" column="USER_RECENT_LOGIN"/>
        <result property="userRegDate" column="USER_REGDATE"/>
        <result property="userStat" column="USER_STAT"/>
        <result property="ssoType" column="SSO_TYPE"/>
    </resultMap>

    <resultMap type="User" id="specificUserResultMap">
        <id property="userId" column="USER_ID"/>
        <result property="levelId" column="LEVEL_ID"/>
        <result property="userLevelName" column="USER_LEVEL_NAME"/>
        <result property="districtCode" column="DISTRICT_CODE"/>
        <result property="regionCode" column="REGION_CODE"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userBirth" column="USER_BIRTH"/>
        <result property="userAddress" column="USER_ADDRESS"/>
        <result property="userContact" column="USER_CONTACT"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userRecentLogin" column="USER_RECENT_LOGIN"/>
        <result property="userRegDate" column="USER_REGDATE"/>
        <result property="userStat" column="USER_STAT"/>
        <result property="ssoType" column="SSO_TYPE"/>
    </resultMap>


    <!--  회원 전체조회  -->
    <select id="getUserList" resultType="User">
        SELECT
            U.USER_ID AS userId,
            U.LEVEL_ID AS levelId,
            U.USER_LEVEL_NAME AS userLevelName,
            U.DISTRICT_CODE AS districtCode,
            U.REGION_CODE AS regionCode,
            U.USER_PW AS userPw,
            U.USER_NAME AS userName,
            U.USER_BIRTH AS userBirth,
            U.USER_ADDRESS AS userAddress,
            U.USER_CONTACT AS userContact,
            U.USER_EMAIL AS userEmail,
            U.USER_RECENT_LOGIN AS userRecentLogin,
            U.USER_REGDATE AS userRegDate,
            U.USER_STAT AS userStat,
            U.SSO_TYPE AS ssoType
        FROM
            USER_INFO AS U;
    </select>

    <!-- 회원 검색 -->
    <select id="userSearchList" resultType="User" parameterType="String">
    SELECT
        U.USER_ID AS userId,
        U.LEVEL_ID AS levelId,
        U.USER_LEVEL_NAME AS userLevelName,
        U.DISTRICT_CODE AS districtCode,
        U.REGION_CODE AS regionCode,
        U.USER_PW AS userPw,
        U.USER_NAME AS userName,
        U.USER_BIRTH AS userBirth,
        U.USER_ADDRESS AS userAddress,
        U.USER_CONTACT AS userContact,
        U.USER_EMAIL AS userEmail,
        U.USER_RECENT_LOGIN AS userRecentLogin,
        U.USER_REGDATE AS userRegDate,
        U.USER_STAT AS userStat,
        U.SSO_TYPE AS ssoType
    FROM
        USER_INFO AS U
    WHERE
        ${searchKey} LIKE CONCAT('%',#{searchValue},'%');
    </select>

    <select id="getUserIdCheck" resultType="Boolean" parameterType="String">
        SELECT
        COUNT(UI.USER_ID) AS checkedValue
        FROM
        USER_INFO AS UI
        WHERE
        UI.USER_ID = #{userId};
    </select>


    <!--  입력받은 관리자 Form 전송   -->
    <insert id="adminRegister" parameterType="User">
        INSERT INTO USER_INFO
        (USER_ID, LEVEL_ID, USER_LEVEL_NAME, DISTRICT_CODE, REGION_CODE,
        USER_PW, USER_NAME, USER_BIRTH, USER_ADDRESS, USER_CONTACT,
        USER_EMAIL, USER_RECENT_LOGIN, USER_REGDATE, USER_STAT, SSO_TYPE)
        VALUES
        (#{userId}, 1, '관리자', #{districtCode}, #{regionCode}, #{userPw}, #{userName},
        #{userBirth}, #{userAddress}, #{userContact}, #{userEmail}, NOW(),
        NOW(), '활동', 'general')
    </insert>

    <!--  입력받은 공무원 회원 Form 전송  -->
    <insert id="officerUserRegister" parameterType="User">
        INSERT INTO USER_INFO
        (USER_ID, LEVEL_ID, USER_LEVEL_NAME, DISTRICT_CODE, REGION_CODE,
        USER_PW, USER_NAME, USER_BIRTH, USER_ADDRESS, USER_CONTACT,
        USER_EMAIL, USER_RECENT_LOGIN, USER_REGDATE, USER_STAT, SSO_TYPE)
        VALUES
        (#{userId}, 2, '공무원', #{districtCode}, #{regionCode}, #{userPw}, #{userName},
        #{userBirth}, #{userAddress}, #{userContact}, #{userEmail}, NOW(),
        NOW(), '활동', 'general')
    </insert>

    <!--  입력받은 가맹점 회원 Form 전송  -->
    <insert id="storeUserRegister" parameterType="User">
        INSERT INTO USER_INFO
        (USER_ID, LEVEL_ID, USER_LEVEL_NAME, DISTRICT_CODE, REGION_CODE,
        USER_PW, USER_NAME, USER_BIRTH, USER_ADDRESS, USER_CONTACT,
        USER_EMAIL, USER_RECENT_LOGIN, USER_REGDATE, USER_STAT, SSO_TYPE)
        VALUES
        (#{userId}, 3, '가맹점', #{districtCode}, #{regionCode}, #{userPw}, #{userName},
        #{userBirth}, #{userAddress}, #{userContact}, #{userEmail}, NOW(),
        NOW(), '활동', 'general')
    </insert>

    <!--  입력받은 사용자 회원 Form 전송  -->
    <insert id="memberRegister" parameterType="User">
        INSERT INTO USER_INFO
        (USER_ID, LEVEL_ID, USER_LEVEL_NAME, DISTRICT_CODE, REGION_CODE,
        USER_PW, USER_NAME, USER_BIRTH, USER_ADDRESS, USER_CONTACT,
        USER_EMAIL, USER_RECENT_LOGIN, USER_REGDATE, USER_STAT, SSO_TYPE)
        VALUES
        (#{userId}, 4, '사용자', #{districtCode}, #{regionCode}, #{userPw}, #{userName},
        #{userBirth}, #{userAddress}, #{userContact}, #{userEmail}, NOW(),
        NOW(), '활동', 'general')
    </insert>


    <!--  유저의 이름과 이메일을 입력받아 아이디를 조회 후 반환  -->
    <select id="findMyId" parameterType="String" resultType="String">
        SELECT
            USER_ID
        FROM
            USER_INFO
        WHERE
            USER_NAME = #{userName} AND USER_EMAIL = #{userEmail};
    </select>

    <!-- 유저의 아이디와 연락처를 입력받아 조회 후 반환 -->
    <select id="findMyPw" parameterType="String" resultType="int">
        SELECT
            COUNT(USER_ID)
        FROM
            USER_INFO
        WHERE
            USER_ID = #{userId} AND USER_CONTACT = #{userContact};
    </select>

    <select id="isExistingPw" parameterType="String" resultType="int">
        SELECT
            COUNT(USER_PW)
        FROM
            USER_INFO
        WHERE
            USER_ID = #{userId} AND USER_PW= #{resetPw};
    </select>

    <update id="resetMyPw" parameterType="String">
        UPDATE
            USER_INFO
        SET
            USER_PW = #{resetPw}
        WHERE
            USER_ID = #{userId};
    </update>


    <!--  관리자 화면에서 특정 회원 상세정보 조회  -->
    <select id="getSpecificUserList" parameterType="String" resultMap="userResultMap">
        SELECT
            U.USER_ID,
            U.LEVEL_ID,
            U.USER_LEVEL_NAME,
            U.DISTRICT_CODE,
            U.REGION_CODE,
            U.USER_PW,
            U.USER_NAME,
            U.USER_BIRTH,
            U.USER_ADDRESS,
            U.USER_CONTACT,
            U.USER_EMAIL,
            U.USER_RECENT_LOGIN,
            U.USER_REGDATE,
            U.USER_STAT,
            U.SSO_TYPE
        FROM
            USER_INFO AS U
        WHERE
            U.USER_ID = #{userId};
    </select>

    <!--  아이디 중복 검사  -->
    <select id="userIdCheck" resultType="boolean" parameterType="String">
        SELECT
            COUNT(UI.USER_ID)
        FROM
            USER_INFO AS UI
        WHERE
            UI.USER_ID = #{userId};
    </select>

    <!--  특정 회원의 정보변경  -->
    <update id="updateUserByAdmin" parameterType="User">
        UPDATE USER_INFO AS UI
        <set>
            <if test="userPw != null and userPw != ''">
                UI.USER_PW = #{userPw},
            </if>
            <if test="regionCode != null and regionCode != ''">
                UI.REGION_CODE = #{regionCode},
            </if>
            <if test="districtCode != null and districtCode != ''">
                UI.DISTRICT_CODE = #{districtCode},
            </if>
            <if test="userName != null and userName != ''">
                UI.USER_NAME = #{userName},
            </if>
            <if test="userAddress != null and userAddress != ''">
                UI.USER_ADDRESS = #{userAddress},
            </if>
            <if test="userContact != null and userContact != ''">
                UI.USER_CONTACT = #{userContact},
            </if>
            <if test="userEmail != null and userEmail != ''">
                UI.USER_EMAIL = #{userEmail}
            </if>
        </set>
        WHERE
            UI.USER_ID = #{userId};
    </update>

    <!--  사용자 문화누리카드 등록정보 삭제  -->
    <delete id="userCardInfoDelete" parameterType="String">
        DELETE
        FROM
            MUNHWACARD MW
        WHERE
            MW.USER_ID = #{deleteTarget};
    </delete>

    <!--  회원의 등록한 이미지 파일정보 삭제  -->
    <delete id="userFileDelete" parameterType="String">
        DELETE
        FROM
        CONTENTS_FILE AS CF
        WHERE
        CF.USER_ID = #{deleteTarget};
    </delete>

    <!--  회원의 게시한 글 정보 삭제  -->
    <delete id="userBoardDelete" parameterType="String">
        DELETE
        FROM
        BOARD_MAIN AS BM
        WHERE
        BM.USER_ID = #{deleteTarget};
    </delete>

    <!--  회원의 결제정보 삭제   -->
    <delete id="userPaymentInfoDelete" parameterType="String">
        DELETE
        FROM
        PAYMENT AS PM
        WHERE
        PM.USER_ID = #{deleteTarget};
    </delete>


</mapper>