<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.ks48team01.mapper.UserMapper">

    <select id="getUserList" resultType="User">
        SELECT
            U.USER_ID AS userId,
            U.LEVEL_ID AS levelId,
            U.USER_LEVEL_NAME AS userLevelName,
            U.DISTRICT_CODE AS districtCode,
            U.REGION_CODE AS regionCode,
            U.USER_PW AS userPw,
            U.USER_NAME AS userName,
            U.USER_GENDER AS userGender,
            U.USER_BIRTH AS userBirth,
            U.RESIDENT_NUMBER AS residentNumber,
            U.USER_ADDRESS AS userAddress,
            U.USER_CONTACT AS userContact,
            U.USER_EMAIL AS userEmail,
            U.USER_RECENT_LOGIN AS userRecentLogin,
            U.USER_REGDATE AS userRegDate,
            U.USER_STAT AS userStat,
            U.SSO_TYPE AS ssoType
        FROM
            USER_INFO AS U
    </select>

    <insert id="adminUserRegister" parameterType="User">
        INSERT INTO USER_INFO
        (USER_ID, LEVEL_ID, USER_LEVEL_NAME, DISTRICT_CODE, REGION_CODE,
        USER_PW, USER_NAME, USER_GENDER, USER_BIRTH,RESIDENT_NUMBER,
        USER_ADDRESS, USER_CONTACT, USER_EMAIL, USER_RECENT_LOGIN, USER_REGDATE,
        USER_STAT, SSO_TYPE)
        VALUES
        (#{userId}, #{levelId}, #{userLevelName}, #{districtCode}, #{regionCode},
        #{userPw}, #{userName}, #{userGender}, #{userBirth}, #{residentNumber},
        #{userAddress}, #{userContact}, #{userEmail}, #{userRecentLogin}, #{userRegDate},
        #{userStat}, #{ssoType});
    </insert>

    <select id="getSpecificUserList" parameterType="String" resultType="User">
        SELECT
            U.USER_ID AS userId,
            U.LEVEL_ID AS levelId,
            U.USER_LEVEL_NAME AS userLevelName,
            U.DISTRICT_CODE AS districtCode,
            U.REGION_CODE AS regionCode,
            U.USER_PW AS userPw,
            U.USER_NAME AS userName,
            U.USER_GENDER AS userGender,
            U.USER_BIRTH AS userBirth,
            U.RESIDENT_NUMBER AS residentNumber,
            U.USER_ADDRESS AS userAddress,
            U.USER_CONTACT AS userContact,
            U.USER_EMAIL AS userEmail,
            U.USER_RECENT_LOGIN AS userRecentLogin,
            U.USER_REGDATE AS userRegDate,
            U.USER_STAT AS userStat,
            U.SSO_TYPE AS ssoType
        FROM
            USER_INFO AS U
        WHERE
            U.USER_ID = #{userId}
    </select>


</mapper>