<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
    <style>
    	
    </style>
</head>
	<!-- 사용자 페이지별 javascript file 추가-->
    <th:block layout:fragment="customJsFile">
		
    </th:block>
    
    <!-- 사용자별 스크립트 작성 -->
    <th:block layout:fragment="customJsCode">

    </th:block>

    <!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
	<!-- 위 banner -->
	<th:block layout:fragment="customContents">
	
	<section>
	<div id="home-p" class="home-p pages-head1 text-center">
      <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">컨텐츠 조회</h1>
        <p></p>
      </div><!--/end container-->
    </div> 
    </section><br>
    
	<!-- 본문 -->
	  
		<section id="cart" class="cart">
      <div class="container">
        <table id="cart" class="table table-hover table-condensed">
          <div class="col-lg-3" style="width:30%" >
			<div class="input-group ">
	          <input type="text" width="50" class="form-control" id="inlineFormInputGroup" placeholder="Search Product">
	          <div class="input-group-addon"><i class="fa fa-search"></i></div>
	        </div>
	      </div><br>
          <thead>
            <tr>
              <th style="width:30%" class="text-center">컨텐츠명</th>
              <th style="width:6%" class="text-center">카테고리</th>
              <th style="width:34%" class="text-center">컨텐츠 주소</th>
              <th style="width:12%" class="text-center">컨텐츠 기간</th>
              <th style="width:10%" class="text-center">금액</th>
              <th style="width:8%" class="text-center">연령제한</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs"><img src="img/movie/wolfchildren.jpg"  width="110%" height="100%" class="img-responsive"/></div>
                  <div class="col-sm-10 prod-desc">
                    <h6 class="nomargin"><a href="contentsDetail">철가면과 박쥐</a></h6>
                    <p>철가면과 박쥐가 맞붙는다. 누가 이길까?</p>
                  </div>
                </div>
              </td>
              <td data-th="Price" class="text-center">체육</td>
              
              <td data-th="Subtotal" class="text-center">전북 전주시 전주월드컵 경기장</td>
              <td class="text-center">2023.10.30 ~ 2023.10.30</td>
              <td class="text-center">110,000원</td>
              <td class="text-center">만 15세이상</td>
              </tr>
              
             <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs"><img src="img/movie/wolfchildren.jpg"  width="110%" height="100%" class="img-responsive"/></div>
                  <div class="col-sm-10 prod-desc">
                    <h6 class="nomargin"><a href="contentsDetail">녹색괴물</a></h6>
                    <p>변종 실험으로 내 몸이 초록색이다</p>
                  </div>
                </div>
              </td>
              <td data-th="Price" class="text-center">공연</td>
              
              <td data-th="Subtotal" class="text-center">전북 전주시 기린대로 시민공원</td>
              <td class="text-center">2023.10.20 ~ 2023.10.30</td>
              <td class="text-center">무료</td>
              <td class="text-center">만 15세이상</td>
              </tr>
              
             <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs"><img src="http://ksmart.or.kr/"  width="110%" height="100%" class="img-responsive"/></div>
                  <div class="col-sm-10 prod-desc">
                    <h6 class="nomargin"><a href="http://ksmart.or.kr/">한국스마트정보교육원</a></h6>
                    
                    <p>개발자로 취업을 희망하는 자 어서오라!</p>
                  </div>
                </div>
              </td>
              <td data-th="Price" class="text-center">OTT</td>
              
              <td data-th="Subtotal" class="text-center">전북 전주시 기린대로 499</td>
              <td class="text-center">학원문의</td>
              <td class="text-center">학원문의</td>
              <td class="text-center">만 20세 ~<br> 만 39세</td>
              </tr>
              
          </tbody>
          <tfoot> 
            <!--<tr>
               <td><a href="#" class="btn btn-general btn-white"><i class="fa fa-angle-left"></i> Continue Shopping</a></td> 
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong>Total $150.99</strong></td>
              <td><a href="#" class="btn btn-general btn-green">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>-->
          </tfoot>
        </table>
      </div>
    </section>
	</th:block>

</html>