<!doctype html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" th:href="@{https://getbootstrap.com/docs/4.0/examples/album/}">

    <!--         Bootstrap core CSS -->
    <!--        <link th:href="@{https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css}" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link th:href="@{https://getbootstrap.com/docs/4.0/examples/album/album.css}" rel="stylesheet">
</head>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!--====== PRELOADER PART START ======-->
<th:block layout:fragment="customContents">
    <section class="dashboard-area pb-110" style="margin-top: 150px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-9 col-lg-8 d-flex justify-content-center">
                    <div class="post-ad-wrapper box-style" style="width: 700px;">
                        <div class="d-flex justify-content-center">
                            <div class="title">
                                <h3>컨텐츠 수정</h3>
                            </div>
                        </div>

                        <div class="post-ad-form-wrapper">

                            <form action="#">
                                <div class="row justify-content-center">
                                    <div class="col-xl-7">
                                        <div class="right-wrapper pt-50 ">

                                            <div class="single-form mb-15">
                                                <label for="contentsName" class="mb-1">컨텐츠명</label>
                                                <input type="text" id="contentsName" name="contentsName" placeholder="" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="contentsAddress" class="mb-1">컨텐츠 이용장소</label>
                                                <input type="text" id="contentsAddress" name="contentsAddress" placeholder="" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="contentsDuration" class="mb-1">컨텐츠 이용시간</label>
                                                <input type="number" id="contentsDuration" name="contentsDuration" placeholder="" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="contentsPG" class="mb-1">컨텐츠 연령제한</label>
                                                <input type="number" id="contentsPG" name="contentsPG" placeholder="" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="contentsPrice" class="mb-1">컨텐츠 가격</label>
                                                <input type="number" id="contentsPrice" name="contentsPrice" placeholder="" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="startDate" class="mb-1">컨텐츠 시작일자</label>
                                                <input type="date" id="startDate" name="startDate" placeholder="" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="endDate" class="mb-1">컨텐츠 종료일자</label>
                                                <input type="date" id="endDate" name="endDate" placeholder="" class="px-3 py-2 mb-0 border rounded">
                                            </div>
                                            <div class="single-form mb-15">
                                                <label for="contentsCategory" class="mb-1">카테고리</label>
                                                <select name="contentsCategory" id="contentsCategory" class="px-3 py-2 border rounded w-100">
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                    <option value="none">Select state</option>
                                                </select>
                                            </div>
                                            <!--                                            <div class="single-form mb-15">-->
                                            <!--                                                <label for="cast" class="mb-1">출연진</label>-->
                                            <!--                                                <input type="text" id="cast" name="cast" placeholder="" class="px-3 py-2 mb-0 border rounded">-->
                                            <!--                                            </div>-->
                                            <!--                                                <div class="single-form mb-15">-->
                                            <!--                                                    <label for="email" class="mb-1">Email</label>-->
                                            <!--                                                    <input type="text" id="email" name="email" placeholder="Email" class="px-3 py-2 mb-0 border rounded">-->
                                            <!--                                                </div>-->
                                            <div class="d-flex justify-content-center" style="margin-top: 30px">
                                                <button class="main-btn btn-hover">수정</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
<!--====== CATEGORY PART END ======-->
</html>