<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div class="align-box">
    <div class="txt-total">
        총
        <strong class="total" th:text="${contentsCnt}"></strong>
        건
    </div>
</div>
<form th:action="@{/user/contents/contentsDetail}" method="get" style="all:unset">
    <div class="list-search">
        <div class="form-box">
            <select class="px-3 py-2 border rounded w-100" name="performanceGenre">
                <option value="all">장르 전체</option>
                <option th:value="${i.current}" th:each="cc, i: ${contentsCategory}">
                    <th:block th:text="${cc.contentsCategoryName}"></th:block>
                </option>
            </select>
        </div>
        <div class="form-box">
            <select class="px-3 py-2 border rounded w-100">
                <option value="none">지역 전체</option>
                <option value="none" th:each="rl: ${regionList}">
                    <th:block th:text="${rl.regionName}"></th:block>
                </option>
            </select>
        </div>
        <div class="form-box">
            <select class="px-3 py-2 border rounded w-100">
                <option value="all">기간 전체</option>
                <option value="1">1일</option>
                <option value="2">1주일</option>
                <option value="3">1개월</option>
            </select>
        </div>
        <div class="form-box">
            <select class="px-3 py-2 border rounded w-100">
                <option value="none">제목</option>
            </select>
        </div>
        <div class="right-wrapper">
            <div class="area-input">
                <input type="text" name="searchValue" id="search" placeholder="검색어를 입력해주세요">
                <button type="submit"><i class="lni lni-search-alt"></i></button>
            </div>
        </div>
    </div>
</form>
</html>