<!doctype html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" th:href="@{https://getbootstrap.com/docs/4.0/examples/album/}">

    <!--         Bootstrap core CSS -->
    <!--        <link th:href="@{https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css}" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link th:href="@{https://getbootstrap.com/docs/4.0/examples/album/album.css}" rel="stylesheet">
</head>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!--====== PRELOADER PART START ======-->
<th:block layout:fragment="customContents">
    <section class="dashboard-area pb-110" style="margin-top: 150px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-9 col-lg-8 d-flex justify-content-center">
                    <div class="post-ad-wrapper box-style" style="width: 700px;">
                        <div class="d-flex justify-content-center">
                            <div class="title">
                                <h3>예약 화면</h3>
                            </div>
                        </div>

                            <div class="post-ad-form-wrapper">

                                <form action="#">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-7">
                                            <div class="right-wrapper pt-50 ">

                                                <div class="single-form mb-15">
                                                    <label for="reservationDate" class="mb-1">예약 날짜</label>
                                                    <select name="reservationDate" id="reservationDate" class="px-3 py-2 border rounded w-100">
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                    </select>
                                                </div>
                                                <div class="single-form mb-15">
                                                    <label for="reservationTime" class="mb-1">예약 시간</label>
                                                    <select name="reservationTime" id="reservationTime" class="px-3 py-2 border rounded w-100">
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                    </select>
                                                </div>
                                                <div class="single-form mb-15">
                                                    <label for="seat" class="mb-1">좌석</label>
                                                    <select name="seat" id="seat" class="px-3 py-2 border rounded w-100">
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                    </select>
                                                </div>
<!--                                                <div class="single-form mb-15">-->
<!--                                                    <label for="email" class="mb-1">Email</label>-->
<!--                                                    <input type="text" id="email" name="email" placeholder="Email" class="px-3 py-2 mb-0 border rounded">-->
<!--                                                </div>-->
                                                <div class="single-form mb-15">
                                                    <label for="amount" class="mb-1">수량</label>
                                                    <select name="amount" id="amount" class="px-3 py-2 border rounded w-100">
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                        <option value="none">Select state</option>
                                                    </select>
                                                </div>
                                                <div class="d-flex justify-content-center" style="margin-top: 30px">
                                                    <button class="main-btn btn-hover">다음</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
<!--====== CATEGORY PART END ======-->
</html>