<div class="row">
    <div class="col-lg-3 col-md-3" th:each="cil : ${contentsInfoList}">
        <div class="single-product">
            <div class="product-img">
                <a href="product-details.html">
                    <img th:src="@{https://images.unsplash.com/photo-1524330685423-3e1966445abe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGVyZm9ybWFuY2V8ZW58MHwxfDB8fHww}" alt="">
                </a>
            </div>

            <div class="product-content">
                <h3 style="width: 250px;"> <!-- 상위 요소에 너비 제한을 둡니다. -->
                    <a href="product-details.html" class="name" th:text="${cil.contentsName}"></a>
                </h3>

                <ul class="address">
                    <th:block th:if="${cil.contentsSellDuration != '0'}">
                        <li th:if="${cil.contentsSellDuration != '0'}">
                            <a href="javascript:void(0)"><i class="lni lni-calendar"></i><th:block th:text="${cil.contentsSellDuration}"></th:block></a>
                        </li>
                    </th:block>
                    <th:block th:unless="${cil.contentsSellDuration != '0'}"></th:block>

                    <th:block th:if="${cil.contentsPg == 'book'}">
                        <li>
                            <a href="javascript:void(0)"><i class="lni lni-book"></i><th:block th:text="${cil.contentsPg}"></th:block></a>
                        </li>
                    </th:block>

                    <li>
                        <a href="javascript:void(0)"><i class="lni lni-map-marker"></i><th:block  th:text="${cil.storeName}"></th:block></a>
                    </li>
                    <th:block th:if="${cil.contentsPg != 'book' && cil.contentsPg != 'exercise'}">
                        <li>
                            <a href="javascript:void(0)"><i class="lni lni-user"></i><th:block th:text="${cil.contentsPg}"></th:block></a>
                        </li>
                    </th:block>
                    <li>
                        <a href="javascript:void(0)"><i class="lni lni-coin"></i><th:block th:text="${cil.contentsPrice}"></th:block></a>
                    </li>
                </ul>
                <div class="product-bottom">
                    <a class="status-btn bg-dark">자세히 보기</a>
                    <a th:unless="${cil.amountContentsRemaining == 0}" class="status-btn">공연 예매</a>
                    <a th:if="${cil.amountContentsRemaining == 0}" class="status-btn bg-secondary" style="cursor: unset">매진</a>
                </div>
            </div>
        </div>
    </div>

</div>