<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!--====== FOOTER PART START ======-->
<footer  th:fragment="footerFragment" class="footer-area">
	<div class="widget-wrapper">
		<div class="container">
			<div class="row">

				<div class="col-xl-4 col-md-7">
					<div class="footer-widget about">
						<a href="#" class="d-inline-block mb-30">
							<!--로고 이미지를 여기 넣어주세요-->
						</a>
						<p class="text-white mb-25">문화누리카드 원스톱 플랫폼, 누리컬쳐입니다</p>
						<ul class="social">
							<li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
							<li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
							<li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a></li>
							<li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-xl-2 col-md-5 order-md-1 order-xl-4 col-sm-6">
					<div class="footer-widget">
						<h4>한국스마트정보교육원 48기 1팀</h4>
						<h6></h6>
						<ul>
							<li>
								<span>Phone:</span>
								0345983672937
							</li>
							<li>
								<span>Email:</span>
								yourmail@gmail.com
							</li>
							<li>
								<span>Location:</span>
								United State of America
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="copy-right">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<p>Designed & Developed By <a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--====== FOOTER PART ENDS ======-->
</body>
</html>