<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--====== HEADER PART START ======-->

<header th:fragment="headerFragment" class="header_area">
	<div id="header_navbar" class="header_navbar">
		<div class="container position-relative">
			<div class="row align-items-center">
				<div class="col-xl-12">
					<nav class="navbar navbar-expand-lg">
						<a class="navbar-brand" th:href="@{/user/}">
							<img id="logo" src="/user/assets/images/logo/logo.svg" alt="logo">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="toggler-icon"></span>
							<span class="toggler-icon"></span>
							<span class="toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
							<ul id="nav" class="navbar-nav">
								<li class="nav-item">
									<a class="page-scroll" data-toggle="collapse" data-target="#sub-nav1" aria-controls="sub-nav1"
									   aria-expanded="false" aria-label="Toggle navigation" href="javascript:void(0)">서비스
									</a>
									<ul class="sub-menu collapse" id="sub-nav1">
										<li><a th:href="@{/user/about/nuriService}">누리컬쳐에 대해</a></li>
										<li><a th:href="@{/user/about/nuriCard}">문화누리카드 정보</a></li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="page-scroll" data-toggle="collapse" data-target="#sub-nav2" aria-controls="sub-nav2"
									   aria-expanded="false" aria-label="Toggle navigation" href="javascript:void(0)">가맹점 / 컨텐츠
									</a>
									<ul class="sub-menu collapse" id="sub-nav2">
										<li><a th:href="@{/user/store/nuriStore}">가맹점 조회</a></li>
										<li><a th:href="@{/user/contents/contentsInfoList}">컨텐츠 조회</a></li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="page-scroll" data-toggle="collapse" data-target="#sub-nav3" aria-controls="sub-nav3"
									   aria-expanded="false" aria-label="Toggle navigation" href="javascript:void(0)">공지
										<div class="sub-nav-toggler">
											<span></span>
										</div>
									</a>
									<ul class="sub-menu collapse" id="sub-nav">
										<li><a th:href="@{/user/board/boardList}">공지사항</a></li>
									</ul>
								</li>
								<!--<li class="nav-item">
									<a class="page-scroll" data-toggle="collapse" data-target="#sub-nav3" aria-controls="sub-nav3"
									   aria-expanded="false" aria-label="Toggle navigation" href="javascript:void(0)">통계
										<div class="sub-nav-toggler">
											<span></span>
										</div>
									</a>
									<ul class="sub-menu collapse" id="sub-nav">
										<li><a th:href="@{/user/statistic/sttInfo}">통계조회</a></li>
									</ul>
								</li>-->
								<li th:if="${session.SID != null}" class="nav-item">
									<a class="page-scroll" data-toggle="collapse" data-target="#sub-nav3" aria-controls="sub-nav3"
									   aria-expanded="false" aria-label="Toggle navigation" href="javascript:void(0)">마이페이지
										<div class="sub-nav-toggler">
											<span></span>
										</div>
									</a>
									<ul class="sub-menu collapse" id="sub-nav">
										<li><a th:href="@{/user/mypage/mypageMain}">마이페이지</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<ul class="header-btn d-md-flex">
							<li>
								<a th:if="${session.SID == null}" th:href="@{/user/auth/login}"
								   class="main-btn btn-hover d-none d-md-block">로그인 / 회원가입</a>
								<a th:if="${session.SID != null}" th:href="@{/user/auth/logout}"
								   class="main-btn btn-hover d-none d-md-block">로그아웃</a>
							</li>
						</ul>
					</nav> <!-- navbar -->
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
	</div> <!-- header navbar -->
</header>

<!--====== HEADER PART ENDS ======-->
