<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/user/css/shop.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/news.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}"/>
</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white"> 마이페이지 </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/user/main}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div th:replace="~{user/fragments/aside :: mypageAside}"></div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="dashboard-wrapper box-style">
                        <div class="title">
                            <h3>내 정보</h3>
                        </div>

                        <form action="#">
                            <div class="cards-wrapper">
                                <div class="col-lg-12">
                                    <div class="box-style">
                                        <div class="col-lg-3">
                                            <img src="assets/images/dashboard/profile-img.png" alt="">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="info">
                                                <h5>${아이디}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin: 50px;"></div>

                            <div class="single-form mb-15">
                                <label for="memberName" class="mb-1">이름*</label>
                                <input type="text" id="memberName" class="px-3 py-2 mb-0 border rounded" readonly="readonly">
                            </div>
                            <div class="single-form mb-15">
                                <label for="memberGender" class="mb-1">성별*</label>
                                <select name="memberGender" class="px-3 py-2 mb-0 border rounded" >
                                    <option value="M">남</option>
                                    <option value="W">여</option>
                                </select>

                            </div>
                            <div class="single-form mb-15">
                                <label for="memberRegiNum" class="mb-1">주민등록번호*</label><br/>
                                <input type="text" name="memberRegiNum" class="px-3 py-2 mb-0 border rounded col-md-5" readonly="readonly"> -
                                <input type="password" name="memberRegiNum" class="px-3 py-2 mb-0 border rounded col-md-5" readonly="readonly">
                            </div>
                            <div class="single-form mb-15">
                                <label for="memberphone" class="mb-1">연락처*</label>
                                <div>
                                    <select name="memberphone" class="px-3 py-2 mb-0 border rounded">
                                        <option>010</option>
                                        <option>010</option>
                                        <option>010</option>
                                    </select>
                                    -
                                    <input type="text" name="memberphone" class="px-3 py-2 mb-0 border rounded col-md-3" readonly="readonly">-
                                    <input type="text" name="memberphone" class="px-3 py-2 mb-0 border rounded col-md-3" readonly="readonly">
                                </div>
                            </div>
                            <div class="single-form mb-15">
                                <label for="email" class="mb-1">이메일*</label>
                                <div>
                                    <input type="text" name="memberEmail" class="px-3 py-2 mb-0 border rounded col-md-3" readonly="readonly">
                                    <select name="memberEmail" class="px-3 py-2 mb-0 border rounded">
                                        <option>@gmail.com</option>
                                        <option>@naver.com</option>
                                        <option>@kakao.com</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-form mb-15">
                                <label for="memberAddr" class="mb-1">주소</label>
                                <input type="text" id="memberAddr" name="memberAddr" class="px-3 py-2 mb-0 border rounded" readonly="readonly">

                            </div>
                            <a th:href="@{/user/mypage/myInfoModify}" class="main-btn btn-hover d-none d-md-block">수정하기</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
</html>