<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->


<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white"> 마이페이지 </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/user/main}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div th:replace="~{user/fragments/aside :: mypageAside}"></div>
                </div>
                <div class="col-xl-9 col-lg-8" th:object="${paymentCnt}">
                    <div class="dashboard-wrapper box-style" th:object="${paymentAmount}">
                        <div class="title">
                            <h3>내 주문 예약</h3>
                        </div>

                        <div style="margin: 50px;"></div>
                        <div class="cards-wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box-style single-card">
                                        <div class="icon">
                                            <i class="lni lni-notepad"></i>
                                        </div>
                                        <div class="text">
                                            <h5>총 구매 횟수</h5>
                                            <p th:text="${paymentCnt} + '회'"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-style single-card">
                                        <div class="icon">
                                            <i class="lni lni-add-files"></i>
                                        </div>
                                        <div class="text">
                                            <h5>총 소비 가격</h5>
                                            <p th:text="${paymentAmount} +'원'"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-style single-card">
                            <h6>날짜로 검색하기(시작일과 종료일 입력)</h6>
                            <div style="margin: 20px;"></div>
                            <form action="@{}" class="subscribe-form">
                                <input type="date" name="startDate" class="col-lg-4" placeholder="시작 날짜">
                                <input type="date" name="endDate" class="col-lg-4" placeholder="종료 날짜">
                                <button type="button" class="main-btn btn-hover d-none d-md-block col-lg-2">검색</button>
                            </form>
                        </div>

                        <div class="table-wrapper table-responsive">
                            <table class="table" style="text-align: center;">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="form-check check-style">
                                            <input class="form-check-input" type="checkbox" value="">
                                        </div>
                                    </th>
                                    <th>
                                        컨텐츠
                                    </th>
                                    <th>
                                        분류
                                    </th>
                                    <th>
                                        장소
                                    </th>
                                    <th>
                                        구매일
                                    </th>
                                    <th>
                                        가격
                                    </th>
                                    <th>
                                        상태
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:if="${paymentListById == null}">
                                    <td colspan="7">게시글이 없습니다</td>
                                </tr>
                                <tr th:unless="${paymentListById == null}" th:each="l : ${paymentListById}">
                                    <th>
                                        <div class="image">
                                            <div class="form-check check-style">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        <a th:href="@{/user/viewDetail}"><h6 th:text="${l.contentsName}"></h6></a><br/>
                                        <span class="" th:text="${l.contentsId}"></span>
                                    </td>
                                    <td>
                                        <span class="" th:text="${l.contentsCategoryName}"></span>
                                    </td>
                                    <td>
                                        <span class="" th:text="${l.contentAddress}"></span>
                                    </td>
                                    <td>
                                        <p th:text="${l.paymentDT}"></p>
                                    </td>
                                    <td>
                                        <p id="paymentAmount" th:text="${l.paymentAmount} + '원'"></p>
                                    </td>
                                    <td>
                                        <span class="status-btn" th:text="${l.paymentStatus}"></span>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <td colspan="6">
                                    <h4>합계</h4>
                                </td>
                                <td>
                                    <h4 th:text="${paymentAmount} +'원'"></h4>
                                </td>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</th:block>
</html>