<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>

</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white"> 마이페이지 </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/user/main}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="left-sidebar-wrapper box-style">
                        <div class="sidebar-header">
                            <div class="info">
                                <h3>내 정보</h3>
                                <p class="mb-30"></p>
                            </div>
                        </div>

                        <div class="sidebar-menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a th:href="@{/user/mypage/mypageMain}" class="list-group-item">마이페이지</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myInfo}">내 정보</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myCardCharge}" class="list-group-item">카드 충전</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myOrder}">내 구매내역</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myStore}" class="active">내 가맹점</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myStoreAdj}" class="list-group-item">내 가맹점 정산</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myContentsList}" class="list-group-item">내 콘텐츠 목록</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myContentsRegist}" class="list-group-item">내 컨텐츠 등록</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="dashboard-wrapper box-style">
                        <div class="title">
                            <h3>내 가맹점</h3>
                        </div>

                        <form th:action="@{/user/register/memberRegister}" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="userId" class="mb-2"><small class="input-specific">*</small>아이디</label>
                                        <input type="text" id="userId" name="userId" placeholder="" class="py-2 px-3 mb-0 rounded border" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="userName" class="mb-2"><small class="input-specific">*</small>이름</label>
                                        <input type="text" id="userName" name="userName" placeholder="이름" class="py-2 px-3 mb-0 rounded border" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="userContact" class="mb-2"><small class="input-specific">*</small>연락처</label>
                                        <input type="text" id="userContact" name="userContact" placeholder="연락처(휴대폰)" class="py-2 px-3 mb-0 rounded border">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="userEmail" class="mb-2"><small class="input-specific">*</small>이메일</label>
                                        <input type="text" id="userEmail" name="userEmail" placeholder="이메일" class="py-2 px-3 mb-0 rounded border">
                                    </div>
                                </div>
                                <!-- 주소 API 이용할 수 있을 경우, 주소 API를 통한 값을 Parsing(구문분석)하여 자동완성 -->
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="regionCode" class="mb-2"><small class="input-specific">*</small>지역 1 <small class="input-specific">도, 특별시, 광역시</small></label>
                                        <select class="col-12 py-2 px-3 mb-0 rounded border" name="regionCode" id="regionCode">
                                            <option value="none" selected disabled>region dataset</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="districtCode" class="mb-2"><small class="input-specific">*</small>지역 2 <small class="input-specific">시, 군, 구</small></label>
                                        <select class="col-12 py-2 px-3 mb-0 rounded border" name="districtCode" id="districtCode">
                                            <option value="none" selected disabled>district dataset</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="address-1" class="mb-2"><small class="input-specific">*</small>상세주소 1 </label>
                                        <input type="text" id="address-1" name="address-1" placeholder="상세주소" class="py-2 px-3 mb-0 rounded border" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="single-form mb-20">
                                        <label for="address-2" class="mb-2 px-1">상세주소 2 </label>
                                        <input type="text" id="address-2" name="address-2" placeholder="상세주소2" class="py-2 px-3 mb-0 rounded border" readonly="readonly">
                                    </div>
                                </div>
                                <div class="single-form mb-20">
                                    <p><small class="input-specific">*</small>는 필수 요소 항목입니다.</p>
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="single-form mb-30">
                                        <a th:href="@{/user/mypage/myStoreModify}" class="main-btn btn-hover d-none d-md-block">수정하기</a>
                                    </div>
                                </div>

                            </div>
                        </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="login-area pt-70 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">

                </div>
            </div>
        </div>
    </section>

</th:block>
</html>