<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<!-- 사용자별 css file 추가 부분 -->
<head>

</head>

<!-- 사용자 페이지별 javascript file 추가-->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">

</th:block>

<!--/* layout:decorate 이부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입  */-->
<th:block layout:fragment="customContents">

    <!--====== BANNER PART START ======-->
    <section class="banner-area bg_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="text-white"> 마이페이지 </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/user/main}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== BANNER PART END ======-->

    <section class="dashboard-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="left-sidebar-wrapper box-style">
                        <div class="sidebar-header">
                            <div class="info">
                                <h3>내 정보</h3>
                                <p class="mb-30"></p>
                            </div>
                        </div>

                        <div class="sidebar-menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a th:href="@{/user/mypage/mypageMain}" class="list-group-item">마이페이지</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myInfo}">내 정보</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myCardCharge}" class="list-group-item">카드 충전</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myOrder}">내 구매내역</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myStore}">내 가맹점</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myStoreAdj}" class="active">내 가맹점 정산</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myContentsList}" class="list-group-item">내 콘텐츠 목록</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/mypage/myContentsRegist}" class="list-group-item">내 컨텐츠 등록</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="dashboard-wrapper box-style">
                        <div class="title">
                            <h3>내 가맹점 정산</h3>
                        </div>

                        <div style="margin: 50px;"></div>
                        <div class="cards-wrapper">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box-style single-card">
                                        <div class="icon">
                                            <i class="lni lni-notepad"></i>
                                        </div>
                                        <div class="text">
                                            <h5>총 판매 건수</h5>
                                            <p>10회</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-style single-card">
                                        <div class="icon">
                                            <i class="lni lni-add-files"></i>
                                        </div>
                                        <div class="text">
                                            <h5>이번달 판매 가격</h5>
                                            <p>80,000원</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-style single-card">
                                        <div class="icon">
                                            <i class="lni lni-add-files"></i>
                                        </div>
                                        <div class="text">
                                            <h5>총 판매 가격</h5>
                                            <p>300,000원</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-style single-card">
                            <h6>날짜로 검색하기(시작일과 종료일 입력)</h6>
                            <div style="margin: 20px;"></div>
                            <form action="@{}" class="subscribe-form">
                                <input type="date" name="startDate" class="col-lg-4">
                                <input type="date" name="endDate" class="col-lg-4">
                                <button type="button" class="main-btn btn-hover d-none d-md-block">검색</button>
                            </form>
                        </div>


                        <div class="table-wrapper table-responsive box-style single-card">
                            <table class="table" style="text-align: center;">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="form-check check-style">
                                            <input class="form-check-input" type="checkbox" value="">
                                        </div>
                                    </th>
                                    <th>
                                        컨텐츠
                                    </th>
                                    <th>
                                        분류
                                    </th>
                                    <th>
                                        정산일
                                    </th>
                                    <th>
                                        정산코드
                                    </th>
                                    <th>
                                        가격
                                    </th>
                                    <th>
                                        상태
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>
                                        <div class="image">
                                            <div class="form-check check-style">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                            </div>
                                            <img src="assets/images/product/product-thumb-1.jpg" width="100" alt="">
                                        </div>
                                    </th>
                                    <td>
                                        <a th:href="@{/user/viewDetail}"><h6>평화의 노래</h6></a><br/>
                                        <span class="category">컨텐츠코드</span>
                                    </td>
                                    <td>
                                        <span class="category">공연</span>
                                    </td>
                                    <td>
                                        <p>2023-11-06</p>
                                    </td>
                                    <td>
                                        <p>ADJM20231106</p>
                                    </td>
                                    <td>
                                        <p>10000</p>
                                    </td>
                                    <td>
                                        <span class="status-btn bg-light text-dark">이용완료</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="image">
                                            <div class="form-check check-style">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                            </div>
                                            <img src="assets/images/product/product-thumb-1.jpg" width="100" alt="">
                                        </div>
                                    </th>
                                    <td>
                                        <a th:href="@{/user/viewDetail}"><h6>평화의 노래</h6></a><br/>
                                        <span class="category">컨텐츠코드</span>
                                    </td>
                                    <td>
                                        <span class="category">공연</span>
                                    </td>
                                    <td>
                                        <p>2023-11-06</p>
                                    </td>
                                    <td>
                                        <p>ADJM20231106</p>
                                    </td>
                                    <td>
                                        <p>10000</p>
                                    </td>
                                    <td>
                                        <span class="status-btn bg-light text-dark">이용완료</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="image">
                                            <div class="form-check check-style">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                            </div>
                                            <img src="assets/images/product/product-thumb-1.jpg" width="100" alt="">
                                        </div>
                                    </th>
                                    <td>
                                        <a th:href="@{/user/viewDetail}"><h6>평화의 노래</h6></a><br/>
                                        <span class="category">컨텐츠코드</span>
                                    </td>
                                    <td>
                                        <span class="category">공연</span>
                                    </td>
                                    <td>
                                        <p>2023-07-06</p>
                                    </td>
                                    <td>
                                        <p>ADJM20231106</p>
                                    </td>
                                    <td>
                                        <p>10000</p>
                                    </td>
                                    <td>
                                        <span class="status-btn bg-light text-dark">이용완료</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="image">
                                            <div class="form-check check-style">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                            </div>
                                            <img src="assets/images/product/product-thumb-1.jpg" width="100" alt="">
                                        </div>
                                    </th>
                                    <td>
                                        <a th:href="@{/user/viewDetail}"><h6>평화의 노래</h6></a><br/>
                                        <span class="category">컨텐츠코드</span>
                                    </td>
                                    <td>
                                        <span class="category">공연</span>
                                    </td>
                                    <td>
                                        <p>2023-07-06</p>
                                    </td>
                                    <td>
                                        <p>ADJM20231106</p>
                                    </td>
                                    <td>
                                        <p>10000</p>
                                    </td>
                                    <td>
                                        <span class="status-btn bg-light text-dark">이용완료</span>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <td colspan="6">
                                    <h4>합계</h4>
                                </td>
                                <td>
                                    <h4>`${}`원</h4>
                                </td>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</th:block>
</html>