<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

	<head>
		<!-- Datatables -->
	    <link th:href="@{/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	
		<style>
			.data-area  {
				display: flex; gap: 10px;
				
			}
			.demo-form2{
				padding: 20px 0;
			}
			.form-control {
				width: 300px;
			}
		</style>
	</head>

	<th:block layout:fragment="customJsCode">
		<script>
			$(function(){
				//초기화 버튼
				$("#reset").click(function () {
					$("#searchPayment input").val('');
					$("#searchPayment select").val('');
				})
			});

			const $searchBtn = document.querySelector('#searchBtn');
			const $searchKey = document.querySelector('#searchKey');
			const $searchValue = document.querySelector('#searchValue');
			let key = "";
			let value = "";

			$searchBtn.addEventListener('click', function(){
				const $formData = document.querySelectorAll('#searchPayment select, #searchPayment input');
				const searchPayment = [...$formData].reduce((acc, item) => {
											const paramObj = {}
											let data = '';
											if(item.value) data = item.value;
											paramObj['searchKey'] = item.id;
											paramObj['searchValue'] = data;
											acc.push(paramObj);
											return acc;
										},[]);
				fetch("/admin/purchase/searchPurchases", {
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					method: "POST",
					body: JSON.stringify(searchPayment),
				})
				.then((response) => response.json())
				.then((result) => {
					let searchRow = '';
					result.forEach((item, idx) => {
						console.log(item)
						searchRow += `
						<tr>
							<td>${item.paymentCode}</td>
							<td>${item.contentsName}</td>
							<td>${item.contentsId}</td>
							<td>${item.contentsCategoryName}</td>
							<td>${item.userId}</td>
							<td>${item.munhwaCardNum}</td>
							<td>${item.paymentAmount}</td>
							<td>${item.paymentStatus}</td>
							<td>${item.isRefund}</td>
							<td>${item.isClosing}</td>
							<td>${item.paymentDT}</td>
							<td><a href=/admin/purchase/purchaseInfoModify?paymentCode=${item.paymentCode}>수정</a></td>
						</tr>`;
					});
					console.log(searchRow)
					const $searchRow = document.querySelector('#searchRow');
					$searchRow.innerHTML = searchRow;
				});


			})

		</script>
	</th:block>
	
  

	<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
	<th:block layout:fragment="customContents">
				<div class="clearfix"></div>
		<div class="col-md-12 col-sm-12 col-xs-12">
     			<div class="x_panel">
       				<div class="x_title">
         				<h2>검색 조건</h2>
	                      <a class="collapse-link navbar-right"><i class="fa fa-chevron-up"></i></a>
         				<div class="clearfix"></div>
       				</div>
	       			<div class="x_content">
						
                    	<form id="searchPayment" data-parsley-validate="" style="text-align: center;" class="form-horizontal form-label-left">
	                    
	                        	
                        	<div class="data-area col-md-6 col-sm-6 col-xs-12" style="width: 100%; margin-bottom: 20px; display: flex; justify-content: center; gap: 10px; margin-top: 30px;">
								<label style="width: 80px; margin-top: 9px;" > 결제일 </label>
                         	 	<input type="date" name="" id="startPaymentDt" class="form-control" style="width: 150px;"> ~
                         	 	<input type="date" name="" id="endPaymentDt" class="form-control" style="width: 150px;">
                        	</div>

	                        <div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; margin-bottom: 20px; display: flex;  justify-content: center; gap: 10px">
								<label style="width: 80px; margin-top: 9px;"> 결제 상태 </label>
	                          	<select id="paymentStatus" name="" class="form-control">
									  <option value="">=== 결제 상태 ===</option>
									  <option value="완료">결제 완료</option>
									  <option value="실패">결제 실패</option>
									  <option value="취소">결제 취소</option>
								</select>
	                        </div>
	                        
	                        <div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; margin-bottom: 20px; display: flex;  justify-content: center; gap: 10px">
								<label style="width: 80px; margin-top: 9px;"> 아이디 </label>
	                          	<input type="text" id="userId" name="" class="form-control">
	                        </div>
	                        
	                        <div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; margin-bottom: 20px; display: flex;  justify-content: center; gap: 10px">
								<label style="width: 80px; margin-top: 9px;"> 문화누리카드번호 </label>
	                          	<input type="text" id="munhwaCardNum" name="" class="form-control">
	                        </div>

							<div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; margin-bottom: 20px; display: flex;  justify-content: center; gap: 10px">
								<label style="width: 80px; margin-top: 9px;"> 환불 여부 </label>
								<select id="isRefund" name="" class="form-control">
									<option value="">=== 환불 여부 ===</option>
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>
							</div>

							<div class="data-area col-md-6 col-sm-6 col-xs-12" style=" width: 100%; margin-bottom: 20px; display: flex;  justify-content: center; gap: 10px">
								<label style="width: 80px; margin-top: 9px;"> 정산 여부 </label>
								<select id="isClosing" name="" class="form-control">
									<option value="">=== 정산 여부 ===</option>
									<option value="마감전">마감전</option>
									<option value="마감후">마감후</option>
								</select>
							</div>


		           
		                      <div class="ln_solid"></div>
		                      <div class="form-group">
		                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
		                          <button type="button" id="reset" class="btn btn-primary">초기화</button>
		                          <button type="button" id="searchBtn" class="btn btn-success">검색</button>
		                        </div>
		                      </div>
                    	</form>
			        </div>
			     </div>
			    </div>		
				
		<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>결제 내역</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    	<div class="row">
                    	<!--  -->
                    		<div class="col-sm-12">
                    			<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer"
                    			role="grid" aria-describedby="datatable-checkbox_info">
									<thead>
										<tr>
											<th>결제번호</th>
											<th>컨텐츠제목</th>
											<th>컨텐츠번호</th>
											<th>컨텐츠카테고리</th>
											<th>회원아이디</th>
											<th>문화누리카드번호</th>
											<th>결제금액</th>
											<th>결제상태</th>
											<th>환불여부</th>
											<th>정산여부</th>
											<th>결제일자</th>
											<th>수정</th>
										</tr>
									</thead>
			                      <!-- 3333333333333333333333333333333333333333333 -->
			                      <tbody id="searchRow">
									  <tr th:if="${paymentList == null}">
										  <td colspan="7">게시글이 없습니다</td>
									  </tr> <!-- class="odd" or class="even" -->
									  <tr th:unless="${paymentList == null}" th:each="l : ${paymentList}">
										  <td>
											  <span th:text="${l.paymentCode}"></span>
										  </td>
										  <td>
											  <a th:href="@{/user/viewDetail}"><h6 th:text="${l.contentsName}"></h6></a><br/>
										  </td>
										  <td>
											  <span class="" th:text="${l.contentsId}"></span>
										  </td>
										  <td>
											  <span class="" th:text="${l.contentsCategoryName}"></span>
										  </td>
										  <td>
											  <span class="" th:text="${l.userId}"></span>
										  </td>
										  <td>
											  <span class="" th:text="${l.munhwaCardNum}"></span>
										  </td>
										  <td>
											  <p th:text="${l.paymentAmount} + '원'"></p>
										  </td>
										  <td>
											  <span class="status-btn" th:text="${l.paymentStatus}"></span>
										  </td>
										  <td>
											  <span class="status-btn" th:text="${l.isRefund}"></span>
										  </td>
										  <td>
											  <span class="status-btn" th:text="${l.isClosing}"></span>
										  </td>
										  <td>
											  <p th:text="${l.paymentDT}"></p>
										  </td>
					                    <td><a th:href="@{/admin/purchase/purchaseInfoModify}">수정</a></td>
			                        </tr>
			                      </tbody>
			                    </table>
			                  </div>
			                </div>
			                <!-- 33333333333333333333333333333333333333333333333333333333 -->
			                
			         </div>
                  </div>
                </div>
              </div>
	</th:block>

	<th:block layout:fragment="customJsFile">
		<!-- <script th:src="@{/js/jquery-3.7.1.js}"></script> -->
		 <!-- Datatables -->
		<script th:src="@{/admin/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/admin/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/vfs_fonts.js}"></script>
	</th:block>
		

</html>
