<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/js/jquery-3.7.1.js}"></script>
	</th:block>
	
  <body id="page-top">

	<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
	<th:block layout:fragment="customContents">

		<div class="page-title">
			<div class="title_left">
				<h3>결제 내역 수정</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br />
						<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
							<div class="form-group">
								<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">배송여부</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select id="heard" class="form-control" required>
										<option>===배송여부===</option>
										<option value="Y">Y</option>
										<option value="N">N</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">컨텐츠 가격</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="middle-name" class="form-control col-md-7 col-xs-12" type="number" name="middle-name">
								</div>
							</div>

							<div class="form-group">
								<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">결제 수량</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="middle-name" class="form-control col-md-7 col-xs-12" type="number" name="middle-name">
								</div>
							</div>

							<div class="form-group">
								<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">결제 가격</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="middle-name" class="form-control col-md-7 col-xs-12" type="number" name="middle-name">
								</div>
							</div>
							<div class="form-group">
								<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">결제 상태</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select id="heard" class="form-control">
										<option>===결제상태===</option>
										<option>결제완료</option>
										<option>결제취소</option>
										<option>결제실패</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">결제일</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="middle-name" class="form-control col-md-7 col-xs-12" type="date" name="middle-name">
								</div>
							</div>
							<div class="form-group">
								<label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">환불 여부</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select id="heard" class="form-control">
										<option>===환불 여부===</option>
										<option>Y</option>
										<option>N</option>
									</select>
								</div>
							</div>

							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button class="btn btn-primary" type="button" style="margin-left: 392px;">취소</button>
									<button class="btn btn-primary" type="reset">초기화</button>
									<button type="submit" class="btn btn-success">수정</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- List 형태의 경우, button을 사용해서 보여질 List를 표시할 수 있다. -->
		<!-- UserList의 검색창을 통해서 회원의 지역, 생년월일, 아이디, 전화번호를 알 수 있다.-->
		<!-- Ajax 통신을 통해 오른쪽에 검색할 조건을 선택할 수 있는 지역 select 옵션으로 지정
        특정할 수 있는 정보인 이름, 전화번호, 가입일을 검색할 수 있게한다.-->


	
	</th:block>

  </body>

</html>
