<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/admin/layout/default}">

	<head>
		<!-- Datatables -->
	    <link th:href="@{/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	    <link th:href="@{/admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
	</head>
	
  

	<!-- /* layout:decorate 이 부분의 파일에서 사용자 정의로 선언한 조각에 작성한 html코드를 삽입 */ -->
	<th:block layout:fragment="customContents">
		<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Plus Table Design</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p>
                    <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    	<div class="row">
                    	<!--  -->
                    		<div class="col-sm-12">
                    			<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
			                      <thead>
			                        <tr role="row">
			                        	<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="
										 " style="width: 11.2px;">
										 </th>
										 <th class="sorting_asc" tabindex="0" aria-controls="datatable-checkbox"
										  rowspan="1" colspan="1" aria-sort="ascending" aria-label=": activate to sort column descending" style="width: 46.2px;">
											  <div class="icheckbox_flat-green" style="position: relative;">
											  	<input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;">
											  	<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; 
											  	display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); 
											  	border: 0px; opacity: 0;"></ins>
											  </div>
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 168.2px;">
										  	결제일
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 277.2px;">
										  	취소일
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 126.2px;">
										  	거래 상태
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 65.2px;">
										  	주문번호
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 124.2px;">
										  	구매자
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 96px;">
										  	배송비
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 96px;">
										  	컨텐츠 가격
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 96px;">
										  	컨텐츠 수량
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 96px;">
										  	결제금액
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 96px;">
										  	취소금액
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 96px;">
										  	승인번호
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 96px;">
										  	상품명
										  </th>
										  <th class="sorting" tabindex="0" aria-controls="datatable-checkbox" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 96px;">
										  	정산마감여부
										  </th>
									</tr>
			                      </thead>
			                      <!-- 3333333333333333333333333333333333333333333 -->
			                      <tbody>
			                      	<tr role="row" class="odd" th:each="pl: ${paymentInfoList}"> <!-- class="odd" or class="even" -->
			                          <td>
									  </td>
									  <th class="sorting_1">
									  <div class="icheckbox_flat-green" style="position: relative;">
									  	<input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;">
									  	<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; 
									  	padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
									  </div>
									  </th>
			                          <td th:text="${pl.paymentDt}">Tiger Nixon</td>
				                    <td th:text="${pl.paymentCode}">Tiger Nixon</td>
				                    <td th:text="${pl.paymentCode}">System Architect</td>
				                    <td th:text="${pl.paymentCode}">Edinburgh</td>
				                    <td th:text="${pl.userId}">61</td>
				                    <td th:text="${pl.deliveryCosts}">$320,800</td>
				                    <td th:text="${pl.contentsPrice}">2011/04/25</td>
				                    <td th:text="${pl.paymentQuantity}">$320,800</td>
				                    <td th:text="${pl.paymentAmount}">$320,800</td>
				                    <td th:text="${pl.paymentCode}">$320,800</td>
				                    <td th:text="${pl.paymentCode}">$320,800</td>
				                    <td th:text="${pl.contentsName}">$320,800</td>
				                    <td th:text="${pl.isClosing}">$320,800</td>
			                        </tr>
			                      </tbody>
			                    </table>
			                  </div>
			                </div>
			                <!-- 33333333333333333333333333333333333333333333333333333333 -->
			                
			         </div>
                  </div>
                </div>
              </div>
	</th:block>

	<th:block layout:fragment="customJsFile">
		<!-- <script th:src="@{/js/jquery-3.7.1.js}"></script> -->
		 <!-- Datatables -->
		<script th:src="@{/admin/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
	    <script th:src="@{/admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
	    <script th:src="@{/admin/vendors/jszip/dist/jszip.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/pdfmake.min.js}"></script>
	    <script th:src="@{/admin/vendors/pdfmake/build/vfs_fonts.js}"></script>
	</th:block>
		

</html>
